<h2 class="subtitle">
  {{ 'app.emails.contact-us.subject' | t: host: data.host }}
</h2>


<table cellspacing="0">
  <tr>
    <td>
      <b>{{ 'app.models.contacts.form.email' | t }}:</b>
    </td>
    <td style="width: 10px;"></td>
    <td>
      {{ data.object.email }}
    </td>
  </tr>
  <tr>
    <td>
      <b>{{ 'app.models.contacts.form.reason' | t }}:</b>
    </td>
    <td style="width: 10px;"></td>
    <td>{{ data.object.reason }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ 'app.models.contacts.form.message' | t }}:</b>
    </td>
    <td style="width: 10px;"></td>
    <td>
      {{ data.object.message | markdown }}
    </td>
  </tr>
</table>