<h1 class="pagetitle">{{ 'static-pages.faq.title' | t }}</h1>
<section class="container mx-auto">
  <h2 class="title text-center md:max-w-96">
    {{'static-pages.faq.subtitle' | t}}
  </h2>

  <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 mt-10">
    {% assign sections = 'static-pages.faq.questions' | t %}
    {% for section_item in sections %}
      {% assign section = section_item[1] %}
      <div class="w-full lg:w-1/2 px-4 py-2">
        <h3 class="subtitle !mb-2">
          {{ section.title }}
        <h3>
        {% for item in section.questions %}
          {% assign value = item[1] %}
          <div class="mb-5 card" x-data="{ open: false }">
            <p class="cursor-pointer font-semibold flex" @click="open = !open">
              <span class="me-2 mt-1">
                <span x-show="open === false">
                  {% render 'theme/simple/ui/icon', icon: 'dashRight' %}
                </span>
                <span x-show="open === true">
                  {% render 'theme/simple/ui/icon', icon: 'dashDown' %}
                </span>
              </span>

              {{ value.question }}
            </p>

            <div class="prose px-6 mt-3" x-show.transition.in.origin.top.center="open === true">
              {{ value.answer }}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>
