{% if profile_id %}
  {% liquid
    assign upvote_profile_ids = post.upvote_profile_ids
  %}
  <form
    action="{% render 'link_to', object: post, action: 'vote.json', namespace: 'api' %}"
    x-data='postLikes({"liked": {% if upvote_profile_ids contains profile_id%}true{% else %}false{% endif %}, "count": {{upvote_profile_ids.size | default: 0}}})'
    x-ref="form"
    x-on:submit.prevent
  >
    <input type="hidden" name="id" value="{{ post.id }}">
    <input type="hidden" name="type" x-bind:value="liked ? 'clear' : 'up'">

    <button
      class="flex hover:text-interaction-hover"
      x-on:click="toggle()"
      x-bind:title="liked ? '{{ 'app.posts.like_button.vote_clear' | t }}' : '{{ 'app.posts.like_button.vote_up' | t }}'"
    >
      <span class="transition" x-cloak x-show="liked" x-ref="heart">
        {% render 'theme/simple/ui/icon', icon: 'heartFull' %}
      </span>

      <span class="transition" x-show="!liked" x-ref="heart">
        {% render 'theme/simple/ui/icon', icon: 'heart' %}
      </span>

      <span class="px-3">
        <span x-text="count"></span>
        {{ 'app.posts.like_button.likes' | t }}
      </span>
    </button>
  </form>
{% endif %}
