<header class="mb-6 -mx-8 px-8 pb-7 border-b">

  <h1 class="title flex items-center gap-4">
    {% render 'theme/simple/ui/icon', icon: 'settings', class: 'w-6 relative top-0.5 text-content-sidenote' %}
    {{ 'admin.navigation.settings' | t }}
  </h1>

</header>


<h2 class="bigtitle">{{ 'app.admin.setup.sections.login_and_auth' | t }}</h2>

<div class="card">

  <form action="/admin/setup/constants/set" method="post" class="flex items-center gap-4" data-tc="2fa">
    <div class="lg:w-1/4">
      <h3 class="subtitle">{{ 'app.admin.setup.2fa.title' | t }}</h3>
      <p>{{ 'app.admin.setup.2fa.desc' | t }}</p>
    </div>
    <div class="flex items-center gap-4">
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="name" value="required_2fa">
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="true" id="required-2fa-on"{% if context.constants.REQUIRED_2FA == 'true' %}checked{% endif %}>
        <label for="required-2fa-on" class="cursor-pointer">{{ 'app.admin.setup.enable' | t }}</label>
      </fieldset>
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="false" id="required-2fa-off"{% if context.constants.REQUIRED_2FA != 'true' %}checked{% endif %}>
        <label for="required-2fa-off" class="cursor-pointer">{{ 'app.admin.setup.disable' | t }}</label>
      </fieldset>
      <fieldset class="w-3/5 ms-6 text-end">
        <button class="button">{{ 'app.admin.setup.save' | t }}</button>
      </fieldset>
    </div>
  </form>

  <form action="/admin/setup/constants/set" method="post" class="mt-4 pt-4 flex items-center gap-4 border-t" data-tc="hcaptcha">
    <div class="lg:w-1/4">
      <h3 class="subtitle">{{ 'app.admin.setup.hcaptcha.title' | t }}:</h3>
    </div>
    <div class="flex items-center gap-4">
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="name" value="verify_hcaptcha">
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="true" id="captchaOn"{% if verify_hcaptcha %}checked{% endif %}>
        <label for="captchaOn" class="cursor-pointer">{{ 'app.admin.setup.enable' | t }}</label>
      </fieldset>
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="false" id="captchaOff"{% unless verify_hcaptcha %}checked{% endunless %}>
        <label for="captchaOff" class="cursor-pointer">{{ 'app.admin.setup.disable' | t }}</label>
      </fieldset>
      <fieldset class="w-3/5 ms-6 text-end">
        <button class="button">{{ 'app.admin.setup.save' | t }}</button>
      </fieldset>
    </div>
  </form>

  <form action="/admin/setup/constants/set" method="post" class="mt-4 pt-4 flex items-center gap-4 border-t" data-tc="complexPassword">
    <div class="lg:w-1/4">
      <h3 class="subtitle">{{ 'app.admin.setup.password_policy.title' | t }}:</h3>
      <p>{{ 'app.admin.setup.password_policy.desc' | t }}</p>
    </div>
    <div class="flex items-center gap-4">
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="name" value="use_complex_password">
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="true" id="passwordPolicyOn"{% if use_complex_password %}checked{% endif %}>
        <label for="passwordPolicyOn" class="cursor-pointer">{{ 'app.admin.setup.enable' | t }}</label>
      </fieldset>
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="false" id="passwordPolicyOff"{% unless use_complex_password %}checked{% endunless %}>
        <label for="passwordPolicyOff" class="cursor-pointer">{{ 'app.admin.setup.disable' | t }}</label>
      </fieldset>
      <fieldset class="w-3/5 ms-6 text-end">
        <button type="submit" class="button">{{ 'app.admin.setup.save' | t }}</button>
      </fieldset>
    </div>
  </form>

  <form action="/admin/setup/constants/set" method="post" class="mt-4 pt-4 flex items-center gap-4 border-t" data-tc="restrictLoginAttempts">
    <div class="lg:w-1/4">
      <h3 class="subtitle"><label for="login_attempts_counter">{{ 'app.admin.setup.login_attempts.title' | t }}:</label></h3>
      <p>{{ 'app.admin.setup.login_attempts.desc' | t }}</p>
    </div>
    <div>
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="name" value="login_attempts_counter">
      <fieldset>
        <input type="number" id="login_attempts_counter" name="value" value="{{ context.constants.LOGIN_ATTEMPTS_COUNTER }}" data-tc="login_attempts_counter">
        <button type="submit" class="button">{{ 'app.admin.setup.save' | t }}</button>
      </fieldset>
    </div>
  </form>

  <form action="/admin/setup/constants/set" method="post" class="mt-4 pt-4 flex items-center gap-4 border-t" data-tc="unlockLockedAccounts">
    <div class="lg:w-1/4">
      <h3 class="subtitle"><label for="login_attempts_unlock_after_mins">{{ 'app.admin.setup.unlock_after.title' | t }}:</label></h3>
      <p>{{ 'app.admin.setup.unlock_after.desc' | t }}</p>
    </div>
    <div>
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="name" value="login_attempts_unlock_after_mins" />
      <input type="number" min="1" data-tc="login_attempts_unlock_after_mins" id="login_attempts_unlock_after_mins" name="value"
        value="{{ context.constants.LOGIN_ATTEMPTS_UNLOCK_AFTER_MINS | default: 0 }}">
      <button type="submit" class="button">{{ 'app.admin.setup.save' | t }}</button>
    </div>
  </form>

	<form action="/admin/setup/constants/set" method="post" class="mt-4 pt-4 flex items-center gap-4 border-t" data-tc="afterLoginRedirect">
    <div class="lg:w-1/4">
      <h3 class="subtitle"><label for="afterLoginRedirect">{{ 'app.admin.setup.after_login_redirect.title' | t }}:</label></h3>
    </div>
    <div>
	    {% render 'authenticity_token', context: context %}
	    <input type="hidden" name="name" value="after_login_redirect">
		  <select name="value" id="afterLoginRedirect">
  		  <option value="/" {% if context.constants.AFTER_LOGIN_REDIRECT == '/' %} selected {% endif %}>{{ 'app.admin.setup.after_login_redirect.homepage' | t }}</option>
		    <option value="/my/feed" {% if context.constants.AFTER_LOGIN_REDIRECT == '/my/feed' %} selected {% endif %}>{{ 'app.admin.setup.after_login_redirect.feed' | t }}</option>
		  </select>
	    <button type="submit" class="button">{{ 'app.admin.setup.save' | t }}</button>
    </div>
	</form>

</div>



<h2 class="bigtitle">{{ 'app.admin.setup.sections.marketplace' | t }}</h2>

<div class="card">

  <form action="/admin/setup/constants/set" method="post" class="flex items-center gap-4" data-tc="currency">
    <div class="lg:w-1/4">
      <h3 class="subtitle"><label for="currency">{{ 'app.admin.setup.currency.title' | t }}:</label></h3>
    </div>
    <div>
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="name" value="currency" />
      <input type="text" id="currency" name="value" value="{{ currency }}">
      <button type="submit" class="button">{{ 'app.admin.setup.save' | t }}</button>
    </div>
  </form>

  <form action="/admin/setup/constants/set" method="post" class="mt-4 pt-4 flex items-center gap-4 border-t" data-tc="cancelUnpaidOrders">
    <div class="lg:w-1/4">
      <h3 class="subtitle"><label for="order-cancel-setup">{{ 'app.admin.setup.cancel_unpaid_after.title' | t }}:</label></h3>
    </div>
    <div>
		  {% render 'authenticity_token', context: context %}
		  <input type="hidden" name="name" value="order_cancel_unpaid_after_x_hours">
		  <input type="text" id="order-cancel-setup" name="value" value="{{ context.constants.ORDER_CANCEL_UNPAID_AFTER_X_HOURS }}">
		  <button type="submit" class="button">{{ 'app.admin.setup.save' | t }}</button>
    </div>
  </form>

  <form action="/admin/setup/constants/set" method="post" class="mt-4 pt-4 flex items-center gap-4 border-t" data-tc="onlyBuyersCanPurchase">
    <div class="lg:w-1/4">
      <h3 class="subtitle">{{ 'app.admin.setup.buyers_can_purchase.title' | t }}:</h3>
    </div>
    <div class="flex items-center gap-4">
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="name" value="only_buyers_can_purchase">
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="true" id="only-buyers-can-purchase-on"{% if only_buyers_can_purchase %}checked{% endif %}>
        <label for="only-buyers-can-purchase-on" class="cursor-pointer">{{ 'app.admin.setup.enable' | t }}</label>
      </fieldset>
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="false" id="only-buyers-can-purchase-off"{% unless only_buyers_can_purchase %}checked{% endunless %}>
        <label for="only-buyers-can-purchase-off" class="cursor-pointer">{{ 'app.admin.setup.disable' | t }}</label>
      </fieldset>
      <button type="submit" class="ms-6 button">{{ 'app.admin.setup.save' | t }}</button>
    </div>
  </form>

  <form action="/admin/setup/constants/set" method="post" class="mt-4 pt-4 flex items-center gap-4 border-t" data-tc="requireInventoryAcceptance">
    <div class="lg:w-1/4">
      <h3 class="subtitle">{{ 'app.admin.setup.inventory_acceptance.title' | t }}:</h3>
    </div>
    <div class="flex items-center gap-4">
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="name" value="inventory_require_acceptance">
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="true" id="inventoryAcceptanceOn" {% if context.constants.INVENTORY_REQUIRE_ACCEPTANCE == 'true' %}checked{% endif %}>
        <label for="inventoryAcceptanceOn">{{ 'app.admin.setup.enable' | t }}</label>
      </fieldset>
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="false" id="inventoryAcceptanceOff" {% if context.constants.INVENTORY_REQUIRE_ACCEPTANCE != 'true' %}checked{% endif %}>
        <label for="inventoryAcceptanceOff">{{ 'app.admin.setup.disable' | t }}</label>
      </fieldset>
      <button type="submit" class="ms-6 button">{{ 'app.admin.setup.save' | t }}</button>
    </div>
  </form>

  <div x-data="{stripeSetup: false}">
    <div class="mt-4 pt-4 flex items-center gap-4 border-t">
      <div class="lg:w-1/4">
        <h3 class="subtitle">{{ 'app.admin.setup.stripe.title' | t }}:</h3>
      </div>
      <div>
        <button type="button" class="button button-small button-secondary" x-show="!stripeSetup" x-on:click="stripeSetup = true">{{ 'app.admin.setup.stripe.setup' | t }}</button>
      </div>
    </div>
    <div class="mt-4" x-cloak x-show.transition="stripeSetup">
      <ul class="ms-4 list-decimal leading-loose">
        <li>{{ 'app.admin.setup.stripe.register' | t }}</li>
        <li>
          {{ 'app.admin.setup.stripe.copy_and_add' | t }}:
          <div class="my-2 px-4 py-3 bg-frame rounded select-all">https://{{ context.location.host }}/dashboard/payments/account/success</div>
        </li>
        <li>{{ 'app.admin.setup.stripe.public_key' | t }}</li>
      </ul>

      <form action="/admin/setup" method="post">
        {% render 'authenticity_token', context: context %}
        {% assign keys = 'mpo_fee_percent,stripe_pk_key,stripe_sk_key,stripe_client_id' | split: ',' %}
        {% for key in keys %}
          <fieldset class="mt-4 flex items-center gap-4">
            <label for="{{ key }}" class="md:w-1/5 font-bold">
              {{ 'app.marketplace_setup.' | append: key | t }}:
            </label>
            <div class="w-2/5">
              <input name="constants[{{ key }}]" type="text" id="{{ key }}" value="{{ object[key] }}" class="w-full">
              {% include 'theme/simple/field_error', errors: object.errors[key] %}
            </div>
          </fieldset>
        {% endfor %}

        <fieldset class="w-3/5 ms-4 text-end">
          <button class="mt-4 button">{{ 'app.admin.setup.save' | t }}</button>
        </fieldset>
      </form>
    </div>
  </div>

</div>



<h2 class="bigtitle">{{ 'app.admin.setup.sections.community' | t }}</h1>

<div class="card mb-8">

  <form action="/admin/setup/constants/set" method="post" class="flex items-center gap-4" id="chat" data-tc="chat">
    <div class="lg:w-1/4">
      <h3 class="subtitle"><label for="afterLoginRedirect">{{ 'app.admin.setup.chat.title' | t }}:</label></h3>
    </div>
    <div class="flex items-center gap-4">
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="name" value="chat">
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="true" id="chatOn"{% if chat_enabled %}checked{% endif %}>
        <label for="chatOn" class="cursor-pointer">{{ 'app.admin.setup.enable' | t }}</label>
      </fieldset>
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="false" id="chatOff"{% unless chat_enabled %}checked{% endunless %}>
        <label for="chatOff" class="cursor-pointer">{{ 'app.admin.setup.disable' | t }}</label>
      </fieldset>
      <fieldset class="w-3/5 ms-6 text-end">
        <button class="button">{{ 'app.admin.setup.save' | t }}</button>
      </fieldset>
    </div>
  </form>

  <form action="/admin/setup/constants/set" method="post" class="mt-4 pt-4 flex items-center gap-4 border-t" data-tc="slackNotifications">
    <div class="lg:w-1/4">
      <h3 class="subtitle">{{ 'app.admin.setup.search_index.title' | t }}:</h3>
    </div>
    <div class="flex items-center gap-4">
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="name" value="use_search_index">
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="true" id="indexON"{% if use_search_index %}checked{% endif %}>
        <label for="indexON" class="cursor-pointer">{{ 'app.admin.setup.enable' | t }}</label>
      </fieldset>
      <fieldset class="flex items-center gap-2">
        <input type="radio" name="value" value="false" id="indexOFF"{% unless use_search_index %}checked{% endunless %}>
        <label for="indexOFF" class="cursor-pointer">{{ 'app.admin.setup.disable' | t }}</label>
      </fieldset>
      <fieldset class="w-3/5 ms-6 text-end">
        <button class="button">{{ 'app.admin.setup.save' | t }}</button>
      </fieldset>
    </div>
  </form>

  <form action="/admin/setup/constants/set" method="post" class="mt-4 pt-4 flex items-center gap-4 border-t">
    <div class="lg:w-1/4">
      <h2 class="subtitle"><label for="slack-alerts">{{ 'app.admin.setup.slack.title' | t }}:</label></h2>
    </div>
    <div>
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="name" value="slack">
      <input type="text" id="slack-alerts" name="value" value="{{ context.constants.SLACK_WEBHOOK_URL }}">
      <button class="button">{{ 'app.admin.setup.save' | t }}</button>
    </div>
  </form>

</div>

<h2 class="bigtitle">{{ 'app.admin.setup.sections.seo' | t }}</h1>

<div class="card mb-8">
  <form action="/admin/sitemaps" method="post" class="flex items-center gap-4" data-tc="seo">
    <div class="lg:w-1/4">

      <h2 class="subtitle">
        {% if sitemap.created_at %}
          {% assign sitemap_created_at = sitemap.created_at | l: 'long' %}
          {{ 'app.admin.setup.sitemap.last_updated' | t: created_at: sitemap_created_at }}
        {% else %}
          {{ 'app.admin.setup.sitemap.unavailable' | t }}
        {% endif %}
      </h2>
    </div>
    <div class="flex items-center">
      {% render 'authenticity_token', context: context %}
      <fieldset class="w-3/5 ms-6 text-end">
        <button class="button">{{ 'app.admin.setup.sitemap.create' | t }}</button>
      </fieldset>
    </div>
  </form>
</div>
