{% liquid
  function creator_url = 'link_to', profile: post.creator
  function post_url    = 'link_to', object: post
%}

<article class="mb-10 {% if post.parent_id == null %} mt-5 {% endif %}" data-tc="group-content-post">
  <div id="refid-{{post.id}}"></div>
  <section class="w-full flex card p-4 border-t">
    <aside class="flex flex-col items-center flex-shrink-0 pe-4">
      <a href="{{ creator_url }}">
        {% render 'theme/simple/ui/avatar', profile: post.creator, size: 40, class: 'w-10 h-10 mb-2', alt: post.creator.name %}
      </a>
      {% if root_post.votable %}
        {% render 'theme/simple/posts/vote_box', post: post, current_profile: current_profile, root_post: root_post, context: context %}
      {% endif %}
    </aside>

    <div class="flex flex-col flex-1 w-full min-w-0">
      <header class="items-center justify-between w-full h-10 mb-2 md:flex">
        <a href="{{ creator_url }}">
          {{ post.creator.name }}
        </a>
        <date datetime="{{ post.created_at }}" class="block text-sm text-content-sidenote">{{ post.created_at | l: 'compact' }}</date>
      </header>

      <div class="mb-5 prose">
        {{ post.body | default: '' | markdown }}
      </div>

      <footer class="self-end mt-auto">
        {% if root_post.id == post.id and root_post.creator.id == current_profile.id %}
          <a href="{% render 'link_to', object: post, action: 'edit' %}?return_to={{context.location.href}}" class="button button-secondary button-small">
            {{ 'app.models.posts.edit' | t }}
          </a>
          <form action="{% render 'link_to', object: post %}/remove" method="post" class="inline ms-2" onSubmit="if(!confirm('{{ 'app.confirm-delete' | t }}')){ return false; }" >
            {% render 'authenticity_token', context: context %}
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" value="{{ post.id }}">
            <input type="hidden" name="return_to" value="groups/{{post.group_id}}/content">

            <button class="button button-small button-danger">{{ 'app.models.shared.delete' | t }}</button>
          </form>
        {% elsif root_post.creator.id != current_profile.id and current_profile and root_post.id == post.id %}
          <div class="flex flex-row-reverse items-center justify-between w-full">
            <form action="#" data-id="{{ post.id }}"
              x-data="relationship('postIds')"
              x-ref="form"
              x-on:submit.prevent
              x-on:data-ready.window="initManual()">
              <input type="hidden" name="l_id" value="{{ current_profile.id }}">
              <input type="hidden" name="r_id" value="{{ post.id }}">
              <input type="hidden" name="name" value="followship:post">
            <button
              class="text-sm underline cursor-pointer hover:no-underline me-5"
              x-show.transition="initialized"
              x-text="exists ? '{{ "app.relationships.posts.unfollow" | t }}' : '{{ "app.relationships.posts.follow" | t }}'"
              x-on:click="toggle()"
              title="{{ "app.relationships.posts.title" | t }}"
            >
            </button>
          </form>
          </div>
        {% elsif post.creator_id == current_profile.id %}
          <a href="{% render 'link_to', object: post, action: 'edit' %}?return_to={{context.location.href}}" class="button button-secondary button-small">
            {{ 'app.models.posts.edit_answer' | t }}
          </a>

          <form action="/dashboard/posts/" method="post" class="inline ms-2" onSubmit="if(!confirm('{{ 'app.confirm-delete' | t }}')){ return false; }" >
            {% render 'authenticity_token', context: context %}
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" value="{{ post.id }}">
            <input type="hidden" name="return_to" value="{% render 'link_to', post: root_post %}">

            <button class="button button-small button-danger">{{ 'app.models.shared.delete' | t }}</button>
          </form>
        {% endif %}
      </footer>
    </div>
  </section>

  {% if post.comments.size > 0 %}
    {% liquid
      function root_post_url = 'link_to', post: root_post
    %}
    <section>
      {% render 'theme/simple/posts/comments', list: post.comments, current_profile: current_profile, context: context, return_to: root_post_url  %}
    </section>
  {% endif %}

  <section class="mt-4 md:ms-14">
    {% if current_profile.id %}
      {%
        render 'theme/simple/comments/new_entry',
          commentable: post,
          commentable_type: 'post',
          placeholder: 'app.models.comments.placeholder',
          hidden: true,
          images: false,
          context: context
      %}
    {% endif %}
  </section>
</article>
