{% liquid
  if object.parent_id == blank
    assign editing_root = true
  endif

  hash_assign object['type'] = 'post'
  if object.id
    assign method = 'put'
    assign submit_label = 'app.models.posts.edit'
    assign heading = 'app.models.posts.edit_heading'
    function form_url = 'link_to', object: object
  else
    assign method = 'post'
    assign submit_label = 'app.models.posts.add'
    assign heading = 'app.models.posts.add_heading'
    function form_url = 'link_to', object: group, action: 'content'
  endif

  unless object.uuid
    hash_assign object['uuid'] = '' | uuid
  endunless
%}

{% if editing_root != true %}
  <h3 class="subtitle">{{ 'subtitle' | t: scope: 'app.groups.content.form' }}</h3>

  <div class="card">
    {{ object.parent.body | markdown }}
  </div>
{% endif %}

<h2 class="bigtitle">{{ heading | t }}</h2>

<form action="{{ form_url }}" method="post" class="w-full md:w-2/3">
  {% render 'authenticity_token', context: context %}
  <input type="hidden" name="_method" value="{{method}}">
  <input type="hidden" name="post[group_id]" value="{{ group.id }}">
  {% if context.params.return_to  %}
    <input type="hidden" name="return_to" value="{{ context.params.return_to }}">
  {% endif %}

  {% if object.id %}
    <input type="hidden" name="post[id]" value="{{ object.id }}">
  {% endif %}
  <input type="hidden" name="post[uuid]" value="{{ object.uuid }}">

  {% if editing_root %}
    <fieldset class="mt-6">
      <label class="mb-1 block cursor-pointer" for="title">{{ 'app.models.posts.form.title' | t }}</label>
      <input class="w-2/3" type="text" id="title" name="post[title]" value="{{ object.title }}" required minlength="3" maxlength="130" />
      {% render 'theme/simple/field_error', errors: object.errors.title %}
    </fieldset>
  {% endif %}

  <div class="mt-6">
    <label class="mb-1 block cursor-pointer" for="body">{{ 'app.models.posts.form.body' | t }}</label>
    <textarea class="w-2/3" id="body" name="post[body]" rows="5" data-markdown-editor>{{ object.body }}</textarea>
    {% render 'theme/simple/field_error', errors: object.errors.body %}
  </div>

  {% if editing_root %}
    <div class="mt-6">
      <label class="mb-1 block cursor-pointer" for="tags">{{ 'app.models.posts.form.tags' | t }}</label>
      <input class="w-2/3" type="text" id="tags" name="post[tags]" value="{{ object.tags | join: ',' }}" pattern="^[A-Za-z0-9-]*$" data-tags-input>
      {% render 'theme/simple/field_error', errors: object.errors.tags %}
      {% render 'theme/simple/ui/form-tip', content_key: 'app.models.posts.form.tags_help' %}
    </div>
  {% endif %}


  {% if object.id == blank %}
    <div class="mt-6">
      <label class="block">{{ 'app.models.posts.form.content_type' | t }}</label>
      {% function post_templates = 'lib/queries/posts/post_templates' %}
      <div x-data="{ templates: {{ post_templates | json }}, content_type: '{{ group.content_types.first | default: 'question' }}' }">
        <div class="grid grid-cols-3">
          <div>
            {% for content_type in post_templates %}
              {% render 'theme/simple/dashboard/posts/content_type', object: object, content_type: content_type[0], template: content_type[1] %}
            {% endfor %}
          </div>

          <div class="col-span-2">
            <div class="card">
              <ul class="space-y-1">
                {% assign scope = 'app.groups.content_types_explanation' %}
                {% assign template = post_templates.post %}
                {% for action in template %}
                <li>
                  <span x-show="templates[content_type].{{action[0]}}">
                    {% assign can = 'true' | t: scope: scope %}
                    {{ action[0] | t: can: can, scope: scope }}
                  </span>
                  <span x-show="!templates[content_type].{{action[0]}}">
                    {% assign can = 'false' | t: scope: scope %}
                    {{ action[0] | t: can: can, scope: scope }}
                  </span>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <button class="mt-8 button">{{ submit_label | t }}</button>
</form>

{% render 'theme/simple/photos/s3_form',
  object_uuid: object.uuid,
  presigned_url: presigned_url,
  photo_type: 'screenshot'
%}
