<header class="mb-6 -mx-8 px-8 pb-7 flex justify-between gap-8 border-b">

  <h2 class="title flex items-center gap-4">
    {% render 'theme/simple/ui/icon', icon: 'shoppingCart', class: 'w-6 relative top-0.5 text-content-sidenote' %}
    {{ 'admin.navigation.stock' | t }}
  </h2>

  <div class="flex gap-4">
    <div class="text-center">
      <strong class="subtitle leading-tight">{{ items.total_entries }}</strong>
      <div class="sidenote">{{ 'admin.stock.title' | t }}</div>
    </div>
  </div>

</header>

<form action="" id="admin-form"></form>

<div class="flex min-h-screen">

  {% render 'theme/simple/admin/stock/filters', filters: filters, params: params %}

  <div class="w-full">

    <nav class="mb-4 flex items-center justify-end gap-4">
      <a href="/admin/item_attributes" class="button button-secondary button-small">{{ 'admin.navigation.item_attributes' | t }}</a>
    </nav>

    <section class="table">

      <header>
        <div>Item</div>
        <div>{{ 'app.items.attr.category' | t }}</div>
        <div>{{ 'app.items.attr.owner' | t }}</div>
        <div>{{ 'app.items.attr.created_at' | t }}</div>
        <div class="text-right">{{ 'app.items.form.quantity' | t }}</div>
        <div></div>
      </header>

      <div class="table-content">
        {% for item in items.results %}
          <ul>
            <li class="align-center">
              {% function item_url = 'link_to', path: '/items/', item: item %}

              <a href="{{ item_url }}" class="flex justify-start items-center gap-4">
                {% render 'theme/simple/items/cover', item: item %}

                {{ item.item_detail.name }}
              </a>
            </li>
            <li>
              <span class="lg:hidden">{{ 'app.items.attr.category' | t }}</span>
              {% function category_url = 'link_to', category: item.category %}
              <a href="{{ category_url }}">{{ 'categories.' | append: item.category | t }}</a>
            </li>
            <li>
              <span class="lg:hidden">{{ 'app.items.attr.owner' | t }}</span>
              {{ item.item_inventory.owner.name }}
            </li>
            <li>
              <span class="lg:hidden">{{ 'app.items.attr.created_at' | t }}</span>
              {{ item.created_at | l: 'compact' }}
            </li>
            <li class="text-right">
              <span class="lg:hidden">{{ 'app.items.attr.max_quantity' | t }}</span>
              {{ item.quantity }}
            </li>
            <li class="text-right">
              <a href="/admin/items/{{ item.id }}/edit" class="button button-compact" title="{{ 'app.edit' | t }}">
                {% render 'theme/simple/ui/icon', icon: 'pencil' %}
              </a>
            </li>
          </ul>
        {% endfor %}
      </div>

    </section>

    {% liquid
      assign page = page | default: 1 | plus: 0
    %}
    {% render 'theme/simple/ui/pagination', form: 'admin-form' collection: items, current_page: page %}
  </div>

</div>

