{% if photos.size > 0 %}
  <div class="mt-2 flex flex-col text-center lg:grid lg:grid-cols-{{ photos.size }} gap-2 justify-center">
    {% for photo in photos %}
      {% if photo.url.versions.uncropped %}
        <a href="{{ photo.url.versions.uncropped }}" target="_blank">
      {% endif %}
        <picture>
          <source type="image/avif" srcset="{{ photo.url.versions.m_avif }}, {{ photo.url.versions.lg_avif }} 2x">
          <img src="{{ photo.url.versions.m }}" srcset="{{ photo.url.versions.lg }} 2x" width="{{ photo.photo_width }}" height="{{ photo.photo_height }}" alt="" class="w-full rounded">
        </picture>
      {% if photo.url.versions.uncropped %}
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
