{% comment %}
  expect presigned_url as photo_presigned_url
{% endcomment %}

<form action="{{ presigned_url.upload_url }}" hidden
  id="uppy-form-{{object_id}}"
  data-s3-uppy-photo="{{ type | default: 'form' }}"
  data-s3-uppy-object-uuid="{{ object_uuid }}"
  data-s3-uppy-photo-type="{{ photo_type }}"
  data-s3-uppy-note="{{ note }}"
  data-s3-uppy-disabled="{{ disabled }}"
  data-s3-uppy-max-number-of-files="{{ max_number_of_files }}"
  data-s3-uppy-photos='{{ existing_photos | json }}'
  data-s3-uppy-target="{{target | default: '#drag-drop-area'}}"
>
  {% for field in presigned_url.upload_url_payload %}
    <input type="hidden" name="{{ field[0] }}" value='{{ field[1] }}'>
  {% endfor %}
</form>
