---
slug: venue_owner/password_changed
method: post
---


{{ context.headers.HTTP_REFERER }}

{%liquid
  graphql read_gql = "venue_owner/show" | fetch:  "models"
  assign data_gql = read_gql | fetch: "results"
%}

<!-- {{ data_gql }} -->

{% for data in data_gql %}
  {% if context.params.venue_owner_id == data.id %}
    {% assign data_id = data.id %}
    {% assign new_pass = context.params.new_password %}
    {% assign old_pass = context.params.venue_owner_old_pass %}
    {% assign current_pass = context.params.current_password %}
    <br>{{ "Venue Owner Id" }} - {{ data.id }}<br>
    {{ "Venue Owner Old Data Password" }} - {{ data.Password }}<br>
    {{ "Venue Owner Old Password" }} - {{ old_pass }}<br>
    {{ "Venue Owner Current Password" }} - {{ current_pass }}<br>
    {{ "Venue Owner New Password" }} - {{ new_pass }}<br>
    <!-- {{ "Venue Owner New Password" }} - {{ context.params.new_password }} -->

  {% if current_pass == old_pass %}
    {%- comment -%}
      {%liquid
        graphql upd_gql = 'venue_owner/update_password', Password: new_pass 
        assign fetch_data = upd_gql | fetch: "records"
        assign fetch_values = fetch_data.results
      %}
      {%- endcomment -%}
      {%liquid
        graphql upd_gql = 'venue_owner/update_password', Id: data_id, Password: new_pass 
        assign fetch_data = upd_gql | fetch: "records"
        assign fetch_values = fetch_data.results
      %}
    <h1 class="text-3xl">
      {{ "Password Changed" }}
    </h1>
  {% else %}
      <h1 class="text-3xl">
        {{ "Wrong Current Password,  Enter Correct Current Password!" }}
      </h1>
  {% endif %}


  {% endif %}
{% endfor %}




<script>
  setTimeout(function() {
  window.location.href = "{{ context.headers.HTTP_REFERER }}";
  // window.location.href = "venue_owner?id={{ upd_id }}";
  }, 3000);
</script>