<h2 class="subtitle">{{ 'app.emails.passwords.reset.title' | t }}</h2>

<p>{{ 'app.emails.passwords.reset.content' | t }}</p>
<p class="sidenote">{{ 'app.emails.passwords.reset.ignore' | t }}</p>

<p class="mt text-center"><a href="{{ data.url }}" class="button">{{ 'app.emails.passwords.reset.subject' | t }}</a></p>
