<header class="mb-6 -mx-8 px-8 pb-7 flex justify-between gap-8 border-b">

  <h2 class="title flex items-center gap-4">
    {% render 'theme/simple/ui/icon', icon: 'check', class: 'w-6 relative top-0.5 text-content-sidenote' %}
    {{ 'admin.navigation.processes' | t }}
  </h2>
  <div class="flex gap-4">
    <div class="pe-4 border-frame text-center">
      <strong class="subtitle leading-tight">{{ processes.total_entries }}</strong>
      <div class="sidenote">{{ 'app.admin.processes.title' | t }}</div>
    </div>
  </div>

</header>

<form action="" id="admin-form"></form>

<div class="flex min-h-screen">

  {% render 'theme/simple/admin/processes/filters', filters: filters, statuses: statuses %}

  <div class="w-full">
    <section class="table">

      <header>
        <div></div>
        <div>{{ 'app.processes.attr.requested_by_id' | t }}</div>
        <div>{{ 'app.admin.processes.attr.status' | t }}</div>
        <div>{{ 'app.admin.processes.attr.changed_at' | t }}</div>
      </header>

      <div class="table-content">
        {% for process in processes.results %}
          <ul>
            <li>
              <div class="flex items-center">
                <a href="/admin/processes/{{process.id}}">
                  {% render 'theme/simple/processes/name', process: process %}
                </a>
              </div>
            </li>
            <li>
              <span class="lg:hidden">{{ 'app.processes.attr.requested_by_id' | t }}: </span>
              {% case process.profile.type %}
                {% when 'profile' %}
                  {{ process.profile.first_name }} {{ process.profile.last_name }}
                {% when 'organization' %}
                  {{ process.profile.name }}
              {% endcase %}
            </li>
            <li>
              <div class="flex items-center">
                <span class="lg:hidden">{{ 'app.admin.processes.attr.requested_by' | t }}: </span>
                {% liquid
                  case process.status.name
                    when 'app.statuses.processes.requested'
                      assign status_class = 'border-warning bg-warning-disabled'
                    when 'app.statuses.processes.accepted'
                      assign status_class = 'border-confirmation bg-confirmation-disabled'
                    when 'app.statuses.processes.rejected'
                      assign status_class = 'border-danger bg-danger-disabled'
                    when 'app.statuses.processes.cancelled'
                      assign status_class = 'border-content-sidenote bg-frame'
                  endcase
                %}
                <span class="px-2 py-1 inline-block rounded border {{ status_class }} leading-normal uppercase">{{ process.status.name | t  }}</span>
              </div>
            </li>
            <li>
              <span class="lg:hidden">{{ 'app.admin.processes.attr.changed_at' | t }}: </span>
              {% if process.status.created_at %}
                {{ process.status.created_at | l: 'compact' }}
              {% endif %}
            </li>
          </ul>
        {% endfor %}
      </div>
    </section>

    {% liquid
      assign page = page | default: 1 | plus: 0
    %}
    {% render 'theme/simple/ui/pagination', form: 'admin-form' collection: processes, current_page: filters.page %}
  </div>

</div>
