<header class="mb-6 -mx-8 px-8 pb-7 flex justify-between gap-8 border-b">

  <h2 class="title flex items-center gap-4">
    {% render 'theme/simple/ui/icon', icon: 'user', class: 'w-6 relative top-0.5 text-content-sidenote' %}
    {{ 'admin.navigation.users' | t }} - {{profile.id}} {{ profile.first_name }}
  </h2>

</header>

<div>
  <h3 class="subtitle">
    {{'app.admin.users.new.password' | t}}
  </h3>

  <div class="flex flex-wrap items-center mx-auto">
    <form action="/admin/users/{{profile.id}}/passwords" method="post">
      {% render 'authenticity_token', context: context %}
      <input name="profile_id" type="hidden" value="{{profile.id}}">

      <label class="block mt-3" for="password">
        <span class="block">{{ 'app.passwords.password' | t }}</span>
        <input name="password[password]" type="password" id="password" class="w-full form-input" autocomplete="new-password"/>
        {% render 'theme/simple/field_error', errors: object.errors.password %}
      </label>

      <label class="block mt-3" for="password_confirmation">
        <span class="block">{{ 'app.passwords.password_confirmation' | t }}</span>
        <input name="password[password_confirmation]" type="password" id="password_confirmation" class="w-full form-input" autocomplete="off" />
        {% render 'theme/simple/field_error', errors: object.errors.password_confirmation %}
      </label>

      <fieldset class="mt-8 text-end">
        <button class="button">{{ 'app.save' | t }}</button>
      </fieldset>

    </form>
  </div>
</div>
