<aside class="w-72 flex-shrink-0 -mt-6 ms-8 ps-8 pt-8 text-content-sidenote border-s border-frame order-2">

  <section class="border rounded p-4" x-data="{ from: '{{ filters.from }}' }">
    <h4 class="-mx-4 px-4 pb-2 border-b uppercase font-bold">{{ 'app.search.date_range.header' | t }}</h4>
    <div class="mt-2">
      <label for="from">{{ 'app.search.date_range.from' | t }}</label>
      <input id="from" form="admin-form" type="date" name="from" value="{{ filters.from }}" x-model="from" class="w-full">
      {% render 'theme/simple/field_error', errors: filters.errors.from %}
    </div>
    <div class="mt-2">
      <label for="to">{{ 'app.search.date_range.to' | t }}</label>
      <input id="to" form="admin-form" type="date" name="to" value="{{ filters.to }}" :min="from" class="w-full">
      {% render 'theme/simple/field_error', errors: filters.errors.to %}
    </div>
  </section>

  <section class="mt-4 border rounded p-4">
    <h4 class="-mx-4 px-4 pb-2 border-b uppercase font-bold">Properties</h4>
    <div class="mt-2">
      <label for="email">{{ 'app.users.attr.email' | t }}</label>
      <input id="email" form="admin-form" type="text" name="email" value="{{ filters.email }}" class="w-full">
    </div>
  </section>

  <div class="text-center">
    <button type="submit" class="mt-4 button button-small" form="admin-form">Apply</button>
  </div>

</aside>
