<div>
  {% if response.verification.disabled_reason %}
    <div class="alert alert-danger" role="alert">
      {{ response.verification.disabled_reason }}
    </div>
  {% endif %}

  {% if response != blank and response.verification.fields_needed != empty %}
    {% parse_json "alert" %}
      {% if response.charges_enabled != true %}
        {
          "type": "danger",
          "msg": "Account payment is currently disabled, please provide the following information so that we can enable your payments."
         }
      {% elsif response.payouts_enabled != true %}
        {
          "type": "warning",
          "msg": "Account payouts is currently disabled, please provide the following information so that we can enable your payoyts."
        }
      {% elsif false %}
        {
          "type":"info",
          "msg": "Your account is now enabled for payouts. Please provide the following information at your convenience: "
         }
      {% endif %}
    {% endparse_json %}

    <div class="alert alert-{{ alert.type }}" role="alert">
      <p>{{ alert.msg }}</p>
      <ul class='mt-3'>
        {% for field_needed in response.verification.fields_needed %}
          <li>
            {{ 'modules/stripe.stripe.fields_needed.' | append: field_needed | t }}
          </li>
        {% endfor%}
        {% for field in response.requirements.currently_due %}
          <li>
            {{ 'stripe.requirements.' | append: field | t }}
          </li>
        {% endfor %}
    </div>
  {% endif %}
</div>
</ul>


