{% assign scope = 'app.groups.content_types_explanation' %}
<label for="post[content_type][{{ content_type }}]" class="flex flex-wrap items-center cursor-pointer">
  <input type="radio" id="post[content_type][{{ content_type }}]" name="post[content_type]" value="{{ content_type }}"
    x-on:change="content_type = '{{ content_type }}'"
    {% if object.content_type == content_type %}checked{% endif %}
  >
  <p class="my-2 ms-2">{{ content_type | titleize }}</p>
</label>
