{% function order_url = 'link_to', order: order, current_profile: current_profile %}

<a href="{{ order_url }}" class="flex items-center gap-1 underline">
  {% render 'theme/simple/ui/icon', icon: 'dashLeft', class: 'w-4 relative top-px' %}
  {{ 'app.order' | t }} {{ order.id }}
</a>

<h2 class="bigtitle">{{ 'app.models.line_item_returns.header' | t }}</h2>

<div class="mb-8 flex items-center">
  {% function seller_url = 'link_to', object: order.seller %}
  <a href="{{ seller_url }}" class="font-semibold">
    {% if order.seller.first_name  %}
      {{ order.seller.first_name }} {{ order.seller.last_name }}
    {% else %}
      {{ order.seller.name }}
    {% endif %}
  </a>

  {% liquid
    if role != 'admin' and chat_enabled
      render "modules/chat/theme/simple/message_button", to_id: order.seller.id, label: '', button: true, class: 'button-small button-compact ml-2'
    endif
  %}

</div>

<section class="pb-16 relative">

  <header class="mb-4 flex gap-4 items-start">
    <span class="title w-12 h-12 mt-1 pb-0.5 flex-shrink-0 flex items-center justify-center rounded-full bg-content text-content-inverted">1</span>
    <div>
      <h3 class="title">{{ 'app.models.line_item_returns.form.return_request' | t }}</h3>
      {{ 'app.models.line_item_returns.form.return_request_desc' | t }}
    </div>
  </header>

  <div class="-ml-px absolute left-6 top-2 -bottom-2 hidden md:block border-l-2 -z-10"></div>

  <div class="card md:ms-16 md:p-8">

    <div class="w-full flex flex-col md:flex-row gap-8">

      <div class="md:w-1/2 pt-7 md:pt-0 order-2 md:order-1 border-t md:border-t-0">
        <form action="/dashboard/buy/line_item_returns" method="post">
          {% include 'authenticity_token' %}
          <input name="_method" type="hidden" value="post">
          {% if object.id %}
            <input type="hidden" name="line_item_return[id]" value="{{ object.id }}">
          {% endif %}
          <input type="hidden" id="line_item_id" name="line_item_return[line_item_id]" value="{{ object.line_item_id }}">

          <fieldset>
            <label class="block" for="reason">{{ 'app.models.line_item_returns.form.reason' | t }}</label>
            <input
              class="w-full"
              type="text"
              id="reason"
              name="line_item_return[reason]"
              value="{{ object.reason }}"
              required
            >
            {% include 'theme/simple/field_error', errors: object.errors.reason %}
          </fieldset>

          <fieldset class="mt-4">
            <label class="block" for="reason_details">{{ 'app.models.line_item_returns.form.reason_details' | t }}:</label>
            <textarea
              class="w-full h-32"
              id="reason_details"
              name="line_item_return[reason_details]"
              required
            >{{ object.reason_details | strip }}</textarea>
            {% include 'theme/simple/field_error', errors: object.errors.reason_details %}
          </fieldset>

          <fieldset class="mt-4">
            <label for="quantity">{{ 'app.models.line_item_returns.form.quantity' | t }}:</label>
            <input
              type="number"
              id="quantity"
              name="line_item_return[quantity]"
              value="{{ object.quantity }}"
              min="1"
              max="{{ line_item.quantity }}"
              required
            >
            {% include 'theme/simple/field_error', errors: object.errors.quantity %}
          </fieldset>

          {% assign default_address = order.shipping_address | default: profile.default_address %}
          {% assign delivery_title = 'app.models.line_item_returns.form.shipping_type_delivery' | t %}
          {% render 'theme/simple/shipping_methods/form', wrapper_classes: 'mt-4 pt-3 border-t',
                                                          title: 'app.models.line_item_returns.form.select_prefered_option',
                                                          delivery_title: delivery_title,
                                                          delivery_subtitle: 'app.models.line_item_returns.form.shipping_type_delivery_details'
                                                          pickup_title: 'app.models.line_item_returns.form.shipping_type_personal_pickup',
                                                          pickup_subtitle: 'app.models.orders.form.shipping_pickup_point'
                                                          object: object
                                                          name: 'line_item_return'
                                                          seller: order.seller
                                                          default_address: default_address
                                                          save_default_address: false
                                                          %}

          <fieldset class="mt-8 text-end">
            <button class="button">{{ 'app.models.line_item_returns.form.accept' | t }}</button>
          </fieldset>

        </form>
      </div>

      <div class="md:w-1/2 md:ps-8 md:border-l order-1 md:order-2">
        <div>
          {% function item_url = 'link_to', path: '/items/', item: line_item.item %}

          <a href="{{ item_url }}">
            {% render 'theme/simple/items/cover', item: line_item.item, class: 'w-full rounded' %}
          </a>
          <div class="subtitle mt-4 flex gap-4 justify-between font-bold">
            <span>
              <a href="{{ item_url }}">{{ line_item.item.item_detail.name }}</a>
            </span>
            <span class="font-semibold">
              {% render 'theme/simple/price', amount_cents: line_item.price_cents, currency: line_item.currency %}
            </span>
          </div>
          <dl class="mt-4 flex justify-between flex-wrap">
            <dt class="w-1/2">{{ 'app.models.line_item_returns.form.date' | t }}:</dt>
            <dd class="w-1/2 text-end">{{ order.created_at | l: 'compact' }}</dd>

            <dt class="w-1/2">{{ 'app.models.line_item_returns.form.delivery_date' | t }}:</dt>
            {% for status in order.statuses %}
                {% if status.name == 'app.statuses.orders.delivered' %}
                  <dd class="w-1/2 text-end">{{ status.created_at | l: 'compact' }}</dd>
                  {% break %}
                {% endif %}
            {% endfor %}
          </dl>
        </div>
      </div>

    </div>

  </div>

</section>


<section class="relative">

  <header class="mb-4 flex gap-4 items-start">
    <span class="title w-12 h-12 mt-1 pb-0.5 flex-shrink-0 flex items-center justify-center rounded-full bg-content text-content-inverted">2</span>
    <div>
      <h3 class="title">{{ 'app.models.line_item_returns.form.product_return_refund' | t }}</h3>
      {{ 'app.models.line_item_returns.form.product_return_refund_desc.seller' | t }}
    </div>
  </header>

</section>
