{% if role == 'seller' %}
  <a href="/dashboard/sell/line_item_returns" class="button button-secondary">
    {% render 'theme/simple/ui/icon', icon: 'dashLeft', class: 'w-4 relative top-px' %}
    {{ 'app.line_item_returns.list.returns' | t }}
  </a>

{% elsif role == 'buyer' %}

  {% function order_url = 'link_to', order: line_item_return.order %}
  <a href="{{ order_url }}" class="flex items-center gap-1 underline">
    {% render 'theme/simple/ui/icon', icon: 'dashLeft', class: 'w-4 relative top-px' %}
    {{ 'app.order' | t }} {{ line_item_return.order.id }}
  </a>

{% endif %}


<h2 class="bigtitle">{{ 'app.models.line_item_returns.header' | t }} ({{ line_item_return.id }})</h2>


<div class="mb-8 flex items-center">

  {% if role == 'seller' %}

    {% function buyer_url = 'link_to', object: line_item_return.order.buyer %}
    <a href="{{ buyer_url }}" class="font-semibold">
      {% if line_item_return.order.buyer.first_name  %}
        {{ line_item_return.order.buyer.first_name }} {{ line_item_return.order.buyer.last_name }}
      {% else %}
        {{ line_item_return.order.buyer.name }}
      {% endif %}
    </a>

    {% liquid
      if role != 'admin' and chat_enabled
        render "modules/chat/theme/simple/message_button", to_id: line_item_return.order.buyer.id, label: '', button: true, class: 'button-small button-compact ml-2'
      endif
    %}

  {% elsif role == 'buyer' %}

    {% function seller_url = 'link_to', object: line_item_return.order.seller %}
    <a href="{{ seller_url }}" class="font-semibold">
      {% if line_item_return.order.seller.first_name  %}
        {{ line_item_return.order.seller.first_name }} {{ line_item_return.order.seller.last_name }}
      {% else %}
        {{ line_item_return.order.seller.name }}
      {% endif %}
    </a>

    {% liquid
      if role != 'admin' and chat_enabled
        render "modules/chat/theme/simple/message_button", to_id: line_item_return.order.seller.id, label: '', button: true, class: 'button-small button-compact ml-2'
      endif
    %}

  {% endif %}

</div>


<section class="pb-16 relative">

  <header class="mb-4 flex gap-4 items-start">
    <span class="title w-12 h-12 mt-1 pb-0.5 flex-shrink-0 flex items-center justify-center rounded-full bg-content text-content-inverted">1</span>
    <div>
      <h3 class="title">{{ 'app.models.line_item_returns.form.return_request' | t }}</h3>
      {{ 'app.models.line_item_returns.edit.return_request_desc' | t }}
    </div>
  </header>

  <div class="ml-[-1px] absolute left-6 top-2 -bottom-2 hidden md:block border-l-2 -z-10"></div>

  <div class="card md:ms-16 md:p-8">

    <div class="w-full flex flex-col md:flex-row gap-8">

      <dl class="md:w-1/2 pt-7 md:pt-0 order-2 md:order-1 border-t md:border-t-0">

        <dt>
          {{ 'app.models.line_item_returns.form.reason' | t }}
        </dt>
        <dd class="mt-2 italic">
          {{ line_item_return.reason }}
        </dd>

        <dt class="mt-6">
          {{ 'app.models.line_item_returns.form.reason_details' | t }}:
        </dt>
        <dd class="mt-2 italic">
          {{ line_item_return.reason_details }}
        </dd>

        <dt class="mt-6 inline-block">
          {{ 'app.models.line_item_returns.form.quantity' | t }}:
        </dt>
        <dd class="mt-6 inline-block">
          {{ line_item_return.quantity }}
          ({% render 'theme/simple/price', amount_cents: line_item_return.amount, currency: line_item_return.order.currency %})
        </dd>

        <dt class="mt-6">
          {{ 'app.models.line_item_returns.form.return_way' | t }}:
        </dt>
        <dd class="mt-2">
          <div class="-mb-2 font-bold">{{ 'app.models.line_item_returns.form.shipping_type_' | append: line_item_return.shipping_type | t }}</div>

          {% render 'theme/simple/dashboard/orders/address', delivery_title: 'app.models.line_item_returns.form.pickup_address', object: line_item_return %}
        </dd>

      </dl>

      <div class="md:w-1/2 md:ps-8 md:border-l order-1 md:order-2">

        {% render 'theme/simple/items/cover', item: line_item_return.line_item.item, class: 'w-full rounded' %}

        <div class="mt-4 flex gap-8 items-start subtitle">
          {% function item_url = 'link_to', path: '/items/', item: line_item_return.line_item.item %}
          <a href="{{ item_url }}" class="!font-bold">{{ line_item_return.line_item.item.item_detail.name }}</a>
        </div>

        {% function category_url = 'link_to', category: line_item_return.line_item.item.category %}
        <a href="{{ category_url }}">{{ 'categories.' | append: line_item_return.line_item.item.category | t }}</a>

        <dl class="mt-4 flex flex-wrap">
          <dt class="w-1/2">{{ 'app.models.line_item_returns.form.date' | t }}:</dt>
          <dd class="w-1/2 text-end">{{ line_item_return.order.created_at | l: 'compact' }}</dd>

          <dt class="w-1/2">{{ 'app.models.line_item_returns.form.delivery_date' | t }}:</dt>
          {% for status in line_item_return.order.statuses %}
              {% if status.name == 'app.statuses.orders.delivered' %}
                <dd class="w-1/2 text-end">{{ status.created_at | l: 'compact' }}</dd>
                {% break %}
              {% endif %}
          {% endfor %}
        </dl>

      </div>

    </div>

  </div>

</section>


<section class="relative">

  <header class="mb-4 flex gap-4 items-start">
    <span class="title w-12 h-12 mt-1 pb-0.5 flex-shrink-0 flex items-center justify-center rounded-full bg-content text-content-inverted">2</span>
    <div>
      <h3 class="title">{{ 'app.models.line_item_returns.form.product_return_refund' | t }}</h3>
      {{ 'app.models.line_item_returns.form.product_return_refund_desc.' | append: role | t }}
    </div>
  </header>

  <div class="card md:ms-16 md:p-8">

    {% if line_item_return.status.name == 'app.statuses.line_item_returns.approved' or line_item_return.status.name == 'app.statuses.line_item_returns.returned' or line_item_return.status.name == 'app.statuses.line_item_returns.rejected' or role == 'buyer' %}


      <form action="/dashboard/sell/line_item_returns" method="post" class="w-full flex flex-col md:flex-row md:justify-between gap-8">
        {% include 'authenticity_token' %}
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="line_item_return[id]" value="{{ line_item_return.id }}">

        <div>
          {% liquid
            assign status = line_item_return.status.name

            case status
            when 'app.statuses.line_item_returns.requested'
              assign status_class = 'bg-warning-disabled border-warning'
            when 'app.statuses.line_item_returns.approved'
              assign status_class = 'bg-warning-disabled border-warning'
            when 'app.statuses.line_item_returns.rejected'
              assign status_class = 'bg-danger-disabled border-danger'
            when 'app.statuses.line_item_returns.returned'
              assign status_class = 'bg-confirmation-disabled border-confirmation'
            endcase
          %}

          <div class="flex items-center gap-4">
            {{ 'app.models.line_item_returns.edit.item_status' | t }}
            <span class="px-2 py-1 inline-block rounded border {{ status_class }} leading-tight uppercase" data-tc="item-return-status">
              {{ line_item_return.status.name | t }}
            </span>
          </div>

          {% if line_item_return.status.name == 'app.statuses.line_item_returns.approved' and role != 'buyer' %}
            <button class="mt-4 button ms-auto whitespace-normal" name="line_item_return[action]" value="return">
              {{ 'app.models.line_item_returns.returned' | t }}
            </button>
          {% endif %}
        </div>
        <div>
          {{ 'app.models.line_item_returns.edit.return_date' | t }}: {{ line_item_return.created_at | l: 'compact' }}
        </div>
      </form>

      {% if line_item_return.status.name == 'app.statuses.line_item_returns.rejected' %}
        <div class="mt-8">
          <div class="font-bold">Reason</div>
          {{ line_item_return.reject_reason }}
        </div>
      {% endif %}

    {% else %}

      <form action="/dashboard/sell/line_item_returns" method="post" class="w-full flex flex-col md:flex-row gap-8">
        {% include 'authenticity_token' %}
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="line_item_return[id]" value="{{ line_item_return.id }}">

        <div class="md:w-1/2 flex flex-col items-start">
          <h4 class="mb-2 font-bold">{{ 'app.models.line_item_returns.edit.return_approved' | t }}</h4>
          <div class="prose mb-8">
            {{ 'app.models.line_item_returns.edit.return_approved_desc' | t | markdown }}
          </div>
          {% if line_item_return.status.name == 'app.statuses.line_item_returns.requested' %}
            <button class="button !bg-confirmation hover:!bg-confirmation-hover mt-auto" name="line_item_return[action]" value="approve">
              {% render 'theme/simple/ui/icon', icon: 'check' %}
              {{ 'app.models.line_item_returns.accept' | t }}
            </button>
          {% endif %}
        </div>

        <div class="md:w-1/2 pt-6 md:pt-0 md:ps-8 flex flex-col items-start border-t md:border-t-0 md:border-s">
          <h4 class="mb-2 font-bold">{{ 'app.models.line_item_returns.edit.return_rejected' | t }}</h4>
          <div class="prose">
            {{ 'app.models.line_item_returns.edit.return_rejected_desc' | t | markdown }}
          </div>
          <label for="rejectReason" class="block mt-4">{{ 'app.models.line_item_returns.edit.return_rejected_reason' | t }}:</label>
          <textarea name="line_item_return[reject_reason]" id="rejectReason" rows="2" class="w-full mb-8"></textarea>
          {% if line_item_return.status.name == 'app.statuses.line_item_returns.requested' %}
            <button class="button !bg-danger hover:!bg-danger-hover mt-auto" name="line_item_return[action]" value="reject">
              {% render 'theme/simple/ui/icon', icon: 'x' %}
              {{ 'app.models.line_item_returns.reject' | t }}
            </button>
          {% endif %}
        </div>

      </form>

    {% endif %}

  </div>

</section>
