<header class="-mt-10 mb-6">

  <div class="pb-24 relative -z-10 bg-panel-highlight">
    <div class="container">
      <h2 class="bigtitle py-6">{{ organization.name }}</h2>
    </div>
  </div>

  <div class="container">
    <div class="card -mt-24 relative">

      {% if organization.logo or organization.description %}
        <div class="flex flex-col md:flex-row items-center justify-center gap-8">
          {% if organization.logo %}
            <img src="{{ organization.logo.photo.url }}" alt="{{ organization.name }}" width="{{ organization.logo.photo_width }}" height="{{ organization.logo.photo_height }}" class="w-36">
          {% endif %}

          <div class="max-w-xl">
            {% if organization.description %}
              {{ organization.description | markdown }}
            {% endif %}
          </div>
        </div>
      {% endif %}

      {% liquid
        if chat_enabled
          render 'modules/chat/theme/simple/message_button', to_id: organization.id, label: '', button: true, class: 'absolute top-4 right-4 button-secondary button-small'
        endif
      %}

      <ul class="w-full flex flex-col md:flex-row items-center justify-center gap-4 md:gap-12 {% if organization.logo or organization.description %} mt-4 pt-4 border-t {% endif %}">
        {% if organization.phone %}
          <li class="flex items-center gap-2">
            {% render 'theme/simple/ui/icon', icon: 'phone', class: 'w-6' %}
            {{ organization.phone }}
          </li>
        {% endif %}
        {% if organization.address %}
          <li class="flex items-center gap-2">
            {% render 'theme/simple/ui/icon', icon: 'pin', class: 'w-6' %}
            <address class="not-italic">
              {{ organization.address }}
            </address>
          </li>
        {% endif %}
        <li>
          <a href="#reviews" class="flex items-center gap-2">
            {% if organization.c__rating_count %}
              {% render 'theme/simple/ui/icon', icon: 'starFull', class: 'w-6 text-warning' %}
              {{ organization.c__rating_score }}%
              ({{ organization.c__rating_count }} {{ 'app.header.reviews' | t }})
            {% else %}
              {% render 'theme/simple/ui/icon', icon: 'star', class: 'w-6' %}
              0 {{ 'app.header.reviews' | t }}
            {% endif %}
          </a>
        </li>
      </ul>

    </div>
  </div>
</header>
