<div class="container">

  <hr class="mt-8 mb-8 border-t">

  <h3 class="bigtitle">{{ 'app.organizations.about.title' | t }}</h3>

  <section class="card flex flex-col md:flex-row gap-12">

    <div>
      {% liquid
        assign recommended_rating = organization.c__rating_count | divided_by: 1.0
        assign recommended_percent = organization.c__recommended_count | divided_by: recommended_rating | times: 100 | round: 1
      %}
      <strong class="bigtitle block">{{ recommended_percent }}%</strong>
      {{ 'app.reviews.organizations.buyers_recommended' | t }}

      <dl class="mt-4 flex gap-8">
        <dt class="sr-only">{{ 'app.reviews.organizations.recommends' | t }}</dt>
        <dd class="flex items-center gap-2">
          {% render 'theme/simple/ui/icon', icon: 'thumbUp', class: 'w-4 text-confirmation' %}
          {{ organization.c__recommended_count }}
        </dd>
        <dt class="sr-only">{{ 'app.reviews.organizations.disadvises' | t }}</dt>
        <dd class="flex items-center gap-2">
          {% render 'theme/simple/ui/icon', icon: 'thumbDown', class: 'w-4 text-danger' %}
          {{ organization.c__disadvised_count }}
        </dd>
      </dl>
    </div>
    <div class="w-full">
      <dl class="flex flex-col md:flex-row gap-8 md:items-end">
        <div class="md:w-1/3">
          <dt class="sidenote uppercase text-content-sidenote">{{ 'app.reviews.organizations.new.compliance_description' | t }}</dt>
          <dd class="flex items-center gap-2"><strong class="subtitle !font-bold">{{ organization.c__rating_description }}</strong>/5 {% render 'theme/simple/ui/icon', icon: 'starFull', class: 'w-4 -mt-0.5 text-warning' %}</dd>
        </div>
        <div class="md:w-1/3">
          <dt class="sidenote uppercase text-content-sidenote">{{ 'app.reviews.organizations.new.shipping_cost' | t }}</dt>
          <dd class="flex items-center gap-2"><strong class="subtitle !font-bold">{{ organization.c__rating_delivery }}</strong>/5 {% render 'theme/simple/ui/icon', icon: 'starFull', class: 'w-4 -mt-0.5 text-warning' %}</dd>
        </div>
        <div class="md:w-1/3">
          <dt class="sidenote uppercase text-content-sidenote">{{ 'app.reviews.organizations.new.buyer_service' | t }}</dt>
          <dd class="flex items-center gap-2"><strong class="subtitle !font-bold">{{ organization.c__rating_service }}</strong>/5 {% render 'theme/simple/ui/icon', icon: 'starFull', class: 'w-4 -mt-0.5 text-warning' %}</dd>
        </div>
      </dl>
      <dl class="mt-6 pt-6 border-t">
        <dt class="sidenote uppercase text-content-sidenote">{{ 'app.organizations.attr.created_at' | t }}</dt>
        <dd><time datetime="{{ organization.created_at }}" class="timeago">{{ organization.created_at }}</time></dd>
      </dl>
    </div>

  </section>

</div>
