<h2 class="subtitle">{{ 'app.emails.organizations.member_set_password.title' | t }}</h2>

<p>{{ 'app.emails.organizations.member_set_password.content' | t }}</p>
<p class="sidenote">{{ 'app.emails.organizations.member_set_password.ignore' | t }}</p>

<p class="mt text-center"><a href="{{ data.url }}" class="button">{{ 'app.emails.organizations.member_set_password.claim' | t }}</a></p>
