---
metadata:
  breadcrumbs:
    - label: Example
      url: /
    - label: app.style_guide.title
      url: /style-guide
---

{% liquid
  function current_profile = 'lib/current_profile', user_id: context.current_user.id
  function theme_settings = 'lib/queries/theme_settings/load'
%}

<template id="styleGuide-copyButton">
  <button class="styleGuide-copy absolute top-2 right-2 text-content-sidenote whitespace-normal !font-sans" title="Copy to clipboard">
    {% render 'theme/simple/ui/icon', icon: 'copyPaste', class: 'w-4' %}
  </button>
</template>



<nav class="-mt-10 mb-10 px-4 flex bg-panel border-t border-b sticky -top-px z-20" data-slider>
  <button disabled="" class="pe-6 hidden lg:block text-interaction disabled:text-interaction-disabled hover:text-interaction-hover transition-colors" data-slider-prev>
    {% render 'theme/simple/ui/icon', icon: 'dashLeft' %}
  </button>
  <ul class="w-full flex whitespace-nowrap overflow-x-auto lg:overflow-hidden justify-center">
    <li>
      <a href="#colors" class="block py-4 px-4 border-b border-transparent hover:border-interaction-hover">Colors</a>
    </li>
    <li>
      <a href="#icons" class="block py-4 px-4 border-b border-transparent hover:border-interaction-hover">Icons</a>
    </li>
    <li>
      <a href="#images" class="block py-4 px-4 border-b border-transparent hover:border-interaction-hover">Images</a>
    </li>
    <li>
      <a href="#typography" class="block py-4 px-4 border-b border-transparent hover:border-interaction-hover">Typography</a>
    </li>
    <li>
      <a href="#formats" class="block py-4 px-4 border-b border-transparent hover:border-interaction-hover">Text formatting</a>
    </li>
    <li>
      <a href="#linksButtons" class="block py-4 px-4 border-b border-transparent hover:border-interaction-hover">Links and buttons</a>
    </li>
    <li>
      <a href="#forms" class="block py-4 px-4 border-b border-transparent hover:border-interaction-hover">Forms</a>
    </li>
    <li>
      <a href="#boxes" class="block py-4 px-4 border-b border-transparent hover:border-interaction-hover">Boxes</a>
    </li>
    <li>
      <a href="#tables" class="block py-4 px-4 border-b border-transparent hover:border-interaction-hover">Tables</a>
    </li>
    <li>
      <a href="#navigation" class="block py-4 px-4 border-b border-transparent hover:border-interaction-hover">Navigation elements</a>
    </li>
  </ul>
  <button class="ps-6 hidden lg:block text-interaction disabled:text-interaction-disabled hover:text-interaction-hover transition-colors" data-slider-next>
    {% render 'theme/simple/ui/icon', icon: 'dashRight' %}
  </button>
</nav>



<section class="container" id="styleGuide">

  <article id="colors" class="scroll-mt-16">
    <header>
      <h3 class="title">Colors</h3>
    </header>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-10">
      <li>
        <div class="mb-1 border styleGuide-colorBox">
          <div class="h-32 bg-page"></div>
        </div>
        <h4 class="subtitle">Page background</h4>
        <dl class="flex flex-wrap justify-between">
          <div class="flex justify-between w-full">
            <dt>Class suffix:</dt>
            <dd class="text-right font-mono styleGuide-className">
              <ul></ul>
            </dd>
          </div>
          <div class="flex justify-between w-full">
            <dt>Color:</dt>
            <dd class="font-mono styleGuide-color">
              <ul></ul>
            </dd>
          </div>
        </dl>
      </li>
      <li>
        <div class="mb-1 border styleGuide-colorBox">
          <div class="h-24 bg-panel"></div>
          <div class="h-8 bg-panel-highlight"></div>
        </div>
        <h4 class="subtitle">Panels background</h4>
        <dl>
          <div class="flex justify-between w-full">
            <dt>Class suffix:</dt>
            <dd class="text-right font-mono styleGuide-className">
              <ul></ul>
            </dd>
          </div>
          <div class="flex justify-between w-full">
            <dt>Color:</dt>
            <dd class="font-mono styleGuide-color">
              <ul></ul>
            </dd>
          </div>
        </dl>
      </li>
      <li>
        <div class="mb-1 border styleGuide-colorBox">
          <div class="h-32 bg-frame"></div>
        </div>
        <h4 class="subtitle">Frames</h4>
        <dl>
          <div class="flex justify-between w-full">
            <dt>Class suffix:</dt>
            <dd class="text-right font-mono styleGuide-className">
              <ul></ul>
            </dd>
          </div>
          <div class="flex justify-between w-full">
            <dt>Color:</dt>
            <dd class="font-mono styleGuide-color">
              <ul></ul>
            </dd>
          </div>
        </dl>
      </li>
      <li>
        <div class="mb-1 border styleGuide-colorBox">
          <div class="h-16 bg-content"></div>
          <div class="h-8 bg-content-sidenote"></div>
          <div class="h-8 bg-content-inverted"></div>
        </div>
        <h4 class="subtitle">Text</h4>
        <dl class="flex flex-wrap justify-between">
          <div class="flex justify-between w-full">
            <dt>Class suffix:</dt>
            <dd class="text-right font-mono styleGuide-className">
              <ul></ul>
            </dd>
          </div>
          <div class="flex justify-between w-full">
            <dt>Color:</dt>
            <dd class="font-mono styleGuide-color">
              <ul></ul>
            </dd>
          </div>
        </dl>
      </li>
      <li>
        <div class="mb-1 border styleGuide-colorBox">
          <div class="h-16 bg-interaction"></div>
          <div class="h-8 bg-interaction-hover"></div>
          <div class="h-8 bg-interaction-disabled"></div>
        </div>
        <h4 class="subtitle">Interactive elements</h4>
        <dl class="flex flex-wrap justify-between">
          <div class="flex justify-between w-full">
            <dt>Class suffix:</dt>
            <dd class="text-right font-mono styleGuide-className">
              <ul></ul>
            </dd>
          </div>
          <div class="flex justify-between w-full">
            <dt>Color:</dt>
            <dd class="font-mono styleGuide-color">
              <ul></ul>
            </dd>
          </div>
        </dl>
      </li>
      <li>
        <div class="mb-1 border styleGuide-colorBox">
          <div class="h-16 bg-danger"></div>
          <div class="h-8 bg-danger-hover"></div>
          <div class="h-8 bg-danger-disabled"></div>
        </div>
        <h4 class="subtitle">Danger</h4>
        <dl class="flex flex-wrap justify-between">
          <div class="flex justify-between w-full">
            <dt>Class suffix:</dt>
            <dd class="text-right font-mono styleGuide-className">
              <ul></ul>
            </dd>
          </div>
          <div class="flex justify-between w-full">
            <dt>Color:</dt>
            <dd class="font-mono styleGuide-color">
              <ul></ul>
            </dd>
          </div>
        </dl>
      </li>
      <li>
        <div class="mb-1 border styleGuide-colorBox">
          <div class="h-16 bg-confirmation"></div>
          <div class="h-8 bg-confirmation-hover"></div>
          <div class="h-8 bg-confirmation-disabled"></div>
        </div>
        <h4 class="subtitle">Confirmation</h4>
        <dl class="flex flex-wrap justify-between">
          <div class="flex justify-between w-full">
            <dt>Class suffix:</dt>
            <dd class="text-right font-mono styleGuide-className">
              <ul></ul>
            </dd>
          </div>
          <div class="flex justify-between w-full">
            <dt>Color:</dt>
            <dd class="font-mono styleGuide-color">
              <ul></ul>
            </dd>
          </div>
        </dl>
      </li>
      <li>
        <div class="mb-1 border styleGuide-colorBox">
          <div class="h-16 bg-warning"></div>
          <div class="h-8 bg-warning-hover"></div>
          <div class="h-8 bg-warning-disabled"></div>
        </div>
        <h4 class="subtitle">Warning</h4>
        <dl class="flex flex-wrap justify-between">
          <div class="flex justify-between w-full">
            <dt>Class suffix:</dt>
            <dd class="text-right font-mono styleGuide-className">
              <ul></ul>
            </dd>
          </div>
          <div class="flex justify-between w-full">
            <dt>Color:</dt>
            <dd class="font-mono styleGuide-color">
              <ul></ul>
            </dd>
          </div>
        </dl>
      </li>
    </ul>
  </article>



  <article id="icons" class="mt-20 scroll-mt-16">
    <header>
      <h3 class="title">Icons</h3>
    </header>

    <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">
      {% raw %}{% render 'theme/simple/ui/icon', icon: 'plus' %}{% endraw %}
    </div>

    <ul class="mt-10 grid-icons text-center">
      {% render 'theme/simple/ui/icon', icon: 'all', class: 'w-6 mb-2 transition-colors' %}
    </ul>
  </article>




  <article id="images" class="mt-20 scroll-mt-16">
    <header>
      <h3 class="title">Images</h3>
    </header>

    <div class="flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Logo</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">
          {% raw %}{% render 'theme/simple/ui/logo', context: context %}{% endraw %}
        </div>
      </section>
      <section class="w-1/3 p-5 flex items-center justify-center border styleGuide-example">
        {% render 'theme/simple/ui/logo', context: context %}
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Picture placeholder</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">
          {% raw %}{% render 'theme/simple/ui/picture-placeholder' %}{% endraw %}
        </div>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        {% render 'theme/simple/ui/picture-placeholder' %}
      </section>
    </div>
  </article>



  <article id="typography" class="mt-20 scroll-mt-16">
    <header>
      <h3 class="title">Typography</h3>
    </header>

    <div class="flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Text content</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="pe-5 table-cell">Color:</dt>
            <dd class="table-cell font-mono styleGuide-color"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Font:</dt>
            <dd class="table-cell font-mono styleGuide-font"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Size:</dt>
            <dd class="table-cell font-mono styleGuide-size"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell whitespace-nowrap">Font Weight:</dt>
            <dd class="table-cell font-mono styleGuide-fontWeight"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell whitespace-nowrap">Line height:</dt>
            <dd class="table-cell font-mono styleGuide-lineHeight"></dd>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus magna quis ex suscipit pharetra. Phasellus eleifend nisi sit amet risus imperdiet commodo. Suspendisse eu vestibulum mauris. Donec lacinia risus urna, tincidunt pretium lorem tincidunt nec. In in enim quis nibh feugiat imperdiet quis quis velit.</p>
        <p>Nunc tortor purus, egestas ac tristique non, fringilla in ipsum. Pellentesque in auctor turpis, ac vestibulum nisl.</p>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Page title</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="pe-5 table-cell">Class:</dt>
            <dd class="table-cell font-mono styleGuide-class"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Color:</dt>
            <dd class="table-cell font-mono styleGuide-color"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Font:</dt>
            <dd class="table-cell font-mono styleGuide-font"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Size:</dt>
            <dd class="table-cell font-mono styleGuide-size"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell whitespace-nowrap">Font Weight:</dt>
            <dd class="table-cell font-mono styleGuide-fontWeight"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell whitespace-nowrap">Line height:</dt>
            <dd class="table-cell font-mono styleGuide-lineHeight"></dd>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 !pt-16 border styleGuide-example">
        <h1 class="pagetitle">Example page title</h1>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h1 class="subtitle block">Big titles</h1>
        <dl class="table">
          <div class="table-row">
            <dt class="pe-5 table-cell">Class:</dt>
            <dd class="table-cell font-mono styleGuide-class"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Color:</dt>
            <dd class="table-cell font-mono styleGuide-color"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Font:</dt>
            <dd class="table-cell font-mono styleGuide-font"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Size:</dt>
            <dd class="table-cell font-mono styleGuide-size"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell whitespace-nowrap">Font Weight:</dt>
            <dd class="table-cell font-mono styleGuide-fontWeight"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell whitespace-nowrap">Line height:</dt>
            <dd class="table-cell font-mono styleGuide-lineHeight"></dd>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 flex items-center border styleGuide-example">
        <h2 class="bigtitle">Example title</h2>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Titles</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="pe-5 table-cell">Class:</dt>
            <dd class="table-cell font-mono styleGuide-class"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Color:</dt>
            <dd class="table-cell font-mono styleGuide-color"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Font:</dt>
            <dd class="table-cell font-mono styleGuide-font"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Size:</dt>
            <dd class="table-cell font-mono styleGuide-size"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell whitespace-nowrap">Font Weight:</dt>
            <dd class="table-cell font-mono styleGuide-fontWeight"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell whitespace-nowrap">Line height:</dt>
            <dd class="table-cell font-mono styleGuide-lineHeight"></dd>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 flex items-center border styleGuide-example">
        <h3 class="title">Example title</h3>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Subtitles</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="pe-5 table-cell">Class:</dt>
            <dd class="table-cell font-mono styleGuide-class"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Color:</dt>
            <dd class="table-cell font-mono styleGuide-color"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Font:</dt>
            <dd class="table-cell font-mono styleGuide-font"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Size:</dt>
            <dd class="table-cell font-mono styleGuide-size"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell whitespace-nowrap">Font Weight:</dt>
            <dd class="table-cell font-mono styleGuide-fontWeight"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell whitespace-nowrap">Line height:</dt>
            <dd class="table-cell font-mono styleGuide-lineHeight"></dd>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 flex items-center border styleGuide-example">
        <h4 class="subtitle">Example subtitle</h4>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Sidenotes</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="pe-5 table-cell">Class:</dt>
            <dd class="table-cell font-mono">sidenote</dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell">Color:</dt>
            <dd class="table-cell font-mono styleGuide-color"></dd>
          </div>
          <div class="table-row">
            <dt class="table-cell">Font:</dt>
            <dd class="table-cell font-mono styleGuide-font"></dd>
          </div>
          <div class="table-row">
            <dt class="table-cell">Size:</dt>
            <dd class="table-cell font-mono styleGuide-size"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell whitespace-nowrap">Font Weight:</dt>
            <dd class="table-cell font-mono styleGuide-fontWeight"></dd>
          </div>
          <div class="table-row">
            <dt class="pe-5 table-cell whitespace-nowrap">Line height:</dt>
            <dd class="table-cell font-mono styleGuide-lineHeight"></dd>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 flex items-center border styleGuide-example">
        <span class="sidenote">Example sidenote</span>
      </section>
    </div>
  </article>



  <article id="formats" class="mt-20 scroll-mt-16">
    <header>
      <h3 class="title">Text formatting</h3>
    </header>

    <div class="flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Prices</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">
          {% raw %}{% render 'theme/simple/price', amount_cents: 553344, currency: context.constants.CURRENCY %}{% endraw %}
        </div>
      </section>
      <section class="w-1/3 p-5 flex items-center border styleGuide-example">
        {% render 'theme/simple/price', amount_cents: 553344, currency: 'USD' %}
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Dates</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">
          {% raw %}{{ '2021-02-20T11:06:37.718Z' | l: 'compact' }}{% endraw %}
        </div>
      </section>
      <section class="w-1/3 p-5 flex items-center border styleGuide-example">
        {{ '2021-02-20T11:06:37.718Z' | l: 'compact' }}
      </section>
    </div>

    <div class="mt-16">
      <h4 class="subtitle">Text content</h4>
      <dl>
        <dt class="pe-5 table-cell">Class:</dt>
        <dd class="table-cell font-mono">prose</dd>
      </dl>
      <section class="mt-10 w-full p-5 flex justify-center border styleGuide-example">
        <div class="prose">
          <h1>Heading 1</h1>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <h4>Heading 4</h4>
          <h5>Heading 5</h5>
          <h6>Heading 6</h6>

          <blockquote>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptate, totam expedita facilis in velit, et quasi ut non, ipsum modi tempora ipsa error maiores rem adipisci. Soluta, ut quibusdam?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur harum tenetur velit explicabo pariatur debitis quasi soluta quam alias in porro, nulla illo iusto excepturi adipisci vel ex aut incidunt!
          </blockquote>

          <p><b>Lorem ipsum dolor sit amet </b><i>consectetur adipisicing elit</i>. Nihil, odio possimus. Dolorem odit eum doloribus. Explicabo aspernatur ducimus accusantium repellendus voluptas nemo illum cum? Possimus tenetur esse veritatis temporibus laboriosam.</p>

          <ul>
            <li>UL List item</li>
            <li>UL List item</li>
            <li>UL List item</li>
          </ul>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, odio possimus. Dolorem odit eum doloribus. Explicabo aspernatur ducimus accusantium repellendus voluptas nemo illum cum? Possimus tenetur esse veritatis temporibus laboriosam.</p>

          <ol>
            <li>OL List item</li>
            <li>OL List item</li>
            <li>OL List item</li>
          </ol>

          <pre><code>function highlight() {
  let x = document.querySelectorAll("pre > code");
  return x.highlight();
}</code></pre>

          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Template</td>
                <td>{{ 'now' | to_date }}</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Community</td>
                <td>{{ 'now' | to_date }}</td>
              </tr>
            </tbody>
          </table>

          <img src="{{ 'images/person1.jpg' | asset_url }}" width="512" height="512" alt="Person">
          <img src="{{ 'images/person2.jpg' | asset_url }}" width="512" height="512" alt="Person">

        </div>
      </section>
    </div>

  </article>


  <article id="linksButtons" class="mt-20 scroll-mt-16">
    <header>
      <h3 class="title">Links and buttons</h3>
    </header>

    <div class="flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Links</h4>
        <dl>
          <div>
            <dt>Color:</dt>
            <dd class="font-mono styleGuide-color"></dd>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 flex items-center border styleGuide-example">
        <a href="http://platformos.com/">Sample link</a>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Buttons</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="table-cell">Class:</dt>
            <dd class="table-cell ps-4 font-mono">button</dd>
          </div>
          <div class="table-row">
            <dt class="table-cell">Modifiers:</dt>
            <dt class="table-cell ps-4 font-mono">button-disabled button-small</dt>
          </div>
        </dl>
      </section>
      <section class="w-1/3">
        <div class="p-5 flex flex-wrap items-center justify-center space-x-1 border">
          <button class="button">Button</button>
          <a href="http://platformos.com" class="button">Link</a>
        </div>
        <div class="mt-2 p-5 flex flex-wrap items-center justify-center space-x-1 border">
          <button class="button" disabled>Disabled</button>
        </div>
        <div class="mt-2 p-5 flex flex-wrap items-center justify-center space-x-1 border">
          <button class="button">
            {% render 'theme/simple/ui/icon', icon: 'plus' %}
            Icon button
          </button>
          <a href="http://platformos.com" class="button">
            Link button
            {% render 'theme/simple/ui/icon', icon: 'plus' %}
          </a>
        </div>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Secondary buttons</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="table-cell">Class:</dt>
            <dd class="table-cell ps-4 font-mono">button button-secondary</dd>
          </div>
          <div class="table-row">
            <dt class="table-cell">Modifiers:</dt>
            <dt class="table-cell ps-4 font-mono">button-disabled button-small</dt>
          </div>
        </dl>
      </section>
      <section class="w-1/3">
        <div class="p-5 flex flex-wrap items-center justify-center space-x-1 border">
          <button class="button button-secondary">Button</button>
          <a href="http://platformos.com" class="button button-secondary">Link</a>
        </div>
        <div class="mt-2 p-5 flex flex-wrap items-center justify-center space-x-1 border">
          <button class="button button-secondary" disabled>Disabled</button>
        </div>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Danger buttons</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="table-cell">Class:</dt>
            <dd class="table-cell ps-4 font-mono">button button-danger</dd>
          </div>
          <div class="table-row">
            <dt class="table-cell">Modifiers:</dt>
            <dt class="table-cell ps-4 font-mono">button-disabled button-small</dt>
          </div>
        </dl>
      </section>
      <section class="w-1/3">
        <div class="p-5 flex flex-wrap items-center justify-center space-x-1 border">
          <button class="button button-danger">Button</button>
          <a href="http://platformos.com" class="button button-danger">Link</a>
        </div>
        <div class="mt-2 p-5 flex flex-wrap items-center justify-center space-x-1 border">
          <button class="button button-danger" disabled>Disabled</button>
        </div>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Small buttons</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="table-cell">Class:</dt>
            <dd class="table-cell ps-4 font-mono">button button-small</dd>
          </div>
          <div class="table-row">
            <dt class="table-cell">Modifiers:</dt>
            <dt class="table-cell ps-4 font-mono">button-disabled</dt>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 flex items-center justify-center space-x-1 border styleGuide-example">
        <button class="button button-small">Button</button>
        <a href="http://platformos.com" class="button button-small">Link</a>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Small secondary buttons</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="table-cell">Class:</dt>
            <dd class="table-cell ps-4 font-mono">button button-secondary button-small</dd>
          </div>
          <div class="table-row">
            <dt class="table-cell">Modifiers:</dt>
            <dt class="table-cell ps-4 font-mono">button-disabled</dt>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 flex items-center justify-center space-x-1 border styleGuide-example">
        <button class="button button-secondary button-small">Button</button>
        <a href="http://platformos.com" class="button button-secondary button-small">Link</a>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Compact buttons</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="table-cell">Class:</dt>
            <dd class="table-cell ps-4 font-mono">button button-compact</dd>
          </div>
          <div class="table-row">
            <dt class="table-cell">Modifiers:</dt>
            <dt class="table-cell ps-4 font-mono">button-disabled button-secondary</dt>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 flex items-center justify-center space-x-1 border styleGuide-example">
        <button class="button button-compact">
          {% render 'theme/simple/ui/icon', icon: 'trash' %}
        </button>
        <a href="http://platformos.com" class="button button-compact button-secondary">
          {% render 'theme/simple/ui/icon', icon: 'trash' %}
        </a>
      </section>
    </div>

  </article>

  <article id="forms" class="mt-20 scroll-mt-16">
    <header>
      <h3 class="title">Forms</h3>
    </header>

    <div class="flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Checkboxes</h4>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <fieldset>
          <input type="checkbox" id="styleGuide-checkbox-a"> <label for="styleGuide-checkbox-a">Test checkbox</label>
        </fieldset>
        <fieldset>
          <input type="checkbox" disabled id="styleGuide-checkbox-b"> <label for="styleGuide-checkbox-b">Disabled checkbox</label>
        </fieldset>
        <fieldset>
          <input type="checkbox" disabled checked id="styleGuide-checkbox-b"> <label for="styleGuide-checkbox-b">Disabled checked checkbox</label>
        </fieldset>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Radios</h4>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <fieldset>
          <input type="radio" name="styleGuide-radio" id="styleGuide-radio-a"> <label for="styleGuide-radio-a">Radio</label>
        </fieldset>
        <fieldset>
          <input type="radio" name="styleGuide-radio" disabled id="styleGuide-radio-b"> <label for="styleGuide-radio-a">Disabled radio</label>
        </fieldset>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Color input</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">
          {% capture code %}
{% raw %}
{% render "theme/simple/ui/color_input",
    class: "w-full",
    name: "color-primary",
    value: "#ff6600",
    is_hex: true,
    text_input_enabled: true %}{% endraw %}
          {% endcapture %}
          <pre>{{code}}</pre>
        </div>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example"><form>
        <fieldset>
          {% render "theme/simple/ui/color_input",
            class: "w-full",
            name: "color-primary",
            value: "#ff6600",
            is_hex: true,
            text_input_enabled: true %}
        </fieldset></form>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Text inputs</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="table-cell">Modifiers:</dt>
            <dd class="table-cell ps-4 font-mono">form-input-small</dd>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <fieldset>
          <input type="text" placeholder="Text input">
        </fieldset>
        <fieldset class="mt-1">
          <input type="text" disabled placeholder="Disabled input">
        </fieldset>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Small text inputs</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="table-cell">Class:</dt>
            <dd class="table-cell ps-4 font-mono">form-input-small</dd>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <fieldset>
          <input type="text" class="form-input-small" placeholder="Small text input">
        </fieldset>
        <fieldset class="mt-1">
          <input type="text" class="form-input-small" disabled placeholder="Disabled small input">
        </fieldset>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Selects</h4>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <select>
          <option>Option A</option>
          <option>Option B</option>
          <option>Option C</option>
          <option>Option D</option>
        </select>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Multiselect</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono whitespace-pre-wrap styleGuide-code">{% raw %}[
  { value: 'value1', label: 'Label for value 1' },
  { value: 'value2', label: 'Label for value 2' }
]{% endraw %}</div>

        {% liquid
          assign example_list = '' | split: ''

          for i in (i..10)
            assign value = 'value' | append: i
            assign label = 'Label for value ' | append: i
            assign example_item = '{}' | parse_json | hash_merge: value: value, label: label
            assign example_list = example_list | add_to_array: example_item
          endfor
        %}

        <div class="mt-5 p-5 relative border bg-panel font-mono whitespace-pre-wrap styleGuide-code">{% raw %}{% render 'theme/simple/ui/multiselect',
  list: example_list,
  form: 'example-form',
  name: 'multiselect-example',
  combineSelected: true,
  showFilter: true
%}{% endraw %}</div>
      </section>
      <section class="w-1/3 p-5 flex-grow-0 border styleGuide-example">
        <fieldset class="w-full" data-tc="multiselect-combine">
          {% render 'theme/simple/ui/multiselect',
            list: example_list,
            form: 'example-form',
            name: 'multiselect-example',
            combineSelected: true,
            showFilter: true
          %}
        </fieldset>

        <fieldset class="min-w-0 mt-4">
          {% render 'theme/simple/ui/multiselect',
            list: example_list,
            form: 'example-form2',
            name: 'multiselect-example2'
          %}
        </fieldset>

        <fieldset class="mt-4" data-tc="multiselect-multiline">
          {% render 'theme/simple/ui/multiselect',
            list: example_list,
            form: 'example-form3',
            name: 'multiselect-example3',
            multiline: true
          %}
        </fieldset>

        <fieldset class="mt-4">
          {% render 'theme/simple/ui/multiselect',
            list: example_list,
            form: 'example-form4',
            name: 'multiselect-example4',
            multiline: true,
            view: 'tiles'
          %}
        </fieldset>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Multiple Select (deprecated)</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">
          {% capture code %}
<div>
  <select multiple class="hidden">
    <option>A</option>
    <option>B</option>
    <option>C</option>
    <option>D</option>
  </select>
  {% raw %}{% render 'theme/simple/uiltiple', class: 'w-full' %}{% endraw %}
</div>
            {% endcapture %}
          <pre>{{code}}</pre>
        </div>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <select multiple class="hidden">
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
        </select>
        {% render 'theme/simple/ui/select_multiple', class: 'w-full' %}
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Form tip</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">
          {% raw %}{% render 'theme/simple/ui/form-tip', content: 'Lorem ipsum dolor sit amet…'  %}{% endraw %}
        </div>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">
          {% raw %}{% render 'theme/simple/ui/form-tip', content_key: 'app.translation.test'  %}{% endraw %}
        </div>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <input type="text">
        {% render 'theme/simple/ui/form-tip', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus eros eget velit tristique, sit amet facilisis nulla viverra.' %}
      </section>
    </div>

    <section class="mt-16 flex flex-col gap-10">
        <h4 class="subtitle">Forms playground</h4>

        <div class="p-5 flex items-center gap-1 border styleGuide-example">
          <input type="text">
          <button class="button">Button</button>
          <button class="button button-secondary">Secondary</button>
          <button class="button button-compact">{% render 'theme/simple/ui/icon', icon: 'binocular' %}</button>
          <select>
            <option>Option 1</option>
            <option>Option 2</option>
          </select>
          <button class="button">
            {% render 'theme/simple/ui/icon', icon: 'plus' %}
            Icon button
          </button>
        </div>

        <div class="p-5 flex items-center gap-1 border styleGuide-example">
          <input type="text" class="form-input-small">
          <button class="button button-small">Button</button>
          <button class="button button-secondary button-small">Secondary</button>
        </div>
    </section>
  </article>


  <article id="boxes" class="mt-20 scroll-mt-16">
    <header>
      <h3 class="title">Boxes</h3>
    </header>

    <div class="flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Card</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="table-cell">Class:</dt>
            <dd class="table-cell ps-4 font-mono">card</dd>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <fieldset class="mt-1">
          <div class="card">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ex orci, molestie vitae dolor pretium, tristique fringilla dui. Phasellus luctus at sapien eget ornare. Maecenas faucibus condimentum lacinia. Quisque blandit iaculis commodo. Cras in congue massa, nec auctor ante. Morbi fermentum quam ut ante volutpat convallis.
          </div>
        </fieldset>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Large card</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="table-cell">Class:</dt>
            <dd class="table-cell ps-4 font-mono">card-lg</dd>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <fieldset class="mt-1">
          <div class="card-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ex orci, molestie vitae dolor pretium, tristique fringilla dui. Phasellus luctus at sapien eget ornare. Maecenas faucibus condimentum lacinia. Quisque blandit iaculis commodo. Cras in congue massa, nec auctor ante. Morbi fermentum quam ut ante volutpat convallis.
          </div>
        </fieldset>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Card overlay</h4>
        <dl class="table">
          <div class="table-row">
            <dt class="table-cell">Class:</dt>
            <dd class="table-cell ps-4 font-mono">card-overlay</dd>
          </div>
        </dl>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <fieldset class="mt-1">
          <div class="card relative">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ex orci, molestie vitae dolor pretium, tristique fringilla dui. Phasellus luctus at sapien eget ornare. Maecenas faucibus condimentum lacinia. Quisque blandit iaculis commodo. Cras in congue massa, nec auctor ante. Morbi fermentum quam ut ante volutpat convallis.
            <div class="card-overlay">Loading…</div>
          </div>
        </fieldset>
      </section>
    </div>

  </article>


  <article id="tables" class="mt-20 scroll-mt-16">
    <header>
      <h3 class="title">Tables</h3>
    </header>

    <div class="flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Standard</h4>
        <div class="p-5 relative border bg-panel font-mono whitespace-pre-wrap styleGuide-code">{{'<div class="table">
  <header>
    <div>Column 1</div>
    <div>Column 2</div>
    <div class="text-end">Column 3</div>
  </header>

  <div class="table-content">
    <ul>
      <li>Content 1</li>
      <li>Content 1</li>
      <li class="text-end">Number</li>
    </ul>
    <ul>
      <li>Content 2</li>
      <li>Content 2</li>
      <li class="text-end">Number</li>
    </ul>
  </div>
</div>'}}</div>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">

        <div class="table">
          <header>
            <div>Column 1</div>
            <div>Column 2</div>
            <div class="text-end">Column 3</div>
          </header>

          <div class="table-content">
            <ul>
              <li>Content 1</li>
              <li>Content 1</li>
              <li class="text-end">Number</li>
            </ul>
            <ul>
              <li>Content 2</li>
              <li>Content 2</li>
              <li class="text-end">Number</li>
            </ul>
          </div>
        </div>

      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Simple</h4>
        <div class="p-5 relative border bg-panel font-mono whitespace-pre-wrap styleGuide-code">{{'<div class="table">
  <header>
    <div>Column 1</div>
    <div>Column 2</div>
    <div class="text-end">Column 3</div>
  </header>

  <div class="table-content-simple">
    <ul>
      <li>Content 1</li>
      <li>Content 1</li>
      <li class="text-end">Number</li>
    </ul>
    <ul>
      <li>Content 2</li>
      <li>Content 2</li>
      <li class="text-end">Number</li>
    </ul>
  </div>
</div>'}}</div>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">

        <div class="table">
          <header>
            <div>Column 1</div>
            <div>Column 2</div>
            <div class="text-end">Column 3</div>
          </header>

          <div class="table-content-simple">
            <ul>
              <li>Content 1</li>
              <li>Content 1</li>
              <li class="text-end">Number</li>
            </ul>
            <ul>
              <li>Content 2</li>
              <li>Content 2</li>
              <li class="text-end">Number</li>
            </ul>
          </div>
        </div>

      </section>
    </div>
  </article>


  <article id="navigation" class="mt-20 scroll-mt-16">
    <header>
      <h3 class="title">Navigation elements</h3>
    </header>

    <div class="mt-4 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Spinner</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono whitespace-pre-wrap styleGuide-code">{% raw %}{% render 'theme/simple/ui/spinner' %}{% endraw %}</div>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        {% render 'theme/simple/ui/spinner' %}
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Dropdowns</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono whitespace-pre-wrap styleGuide-code">{% raw %}{% capture 'example_dropdown' %}{% endraw %}
  {{ '<ul class="px-7 py-4 flex flex-col gap-3 whitespace-nowrap">
    <li><a href="https://platformos.com">platformOS</a></li>
    <li><a href="https://documentation.platformos.com/get-started">Get started</a></li>
    <li><a href="https://documentation.platformos.com">Documentation</a></li>
  </ul>' }}
{% raw %}{% endcapture %}{% endraw %}</div>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">
          {% raw %}{% render 'theme/simple/ui/dropdown', toggle_title: 'Toggle dropdown', label: 'Example dropdown', content: example_dropdown %}{% endraw %}
        </div>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
      {% capture 'example_dropdown' %}
        <ul class="px-7 py-4 flex flex-col gap-3 whitespace-nowrap">
          <li><a href="https://platformos.com">platformOS</a></li>
          <li><a href="https://documentation.platformos.com/get-started">Get started</a></li>
          <li><a href="https://documentation.platformos.com">Documentation</a></li>
        </ul>
      {% endcapture %}
      {% render 'theme/simple/ui/dropdown', toggle_title: 'Toggle dropdown', label: 'Example dropdown', content: example_dropdown %}
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Breadcrumbs</h4>
        <div class="p-5 relative border bg-panel font-mono whitespace-pre styleGuide-code">{% raw %}---
metadata:
  breadcrumbs:
    - label: Example
      url: /
    - label: app.style_guide.title
      url: /style-guide
---
{% endraw %}</div>
        <div class="mt-5 p-5 relative border bg-panel font-mono whitespace-pre styleGuide-code">{% raw %}{% parse_json breadcrumbs %}
[
{
  "label": "Example",
  "url": "http://platformos.com"
},
{
  "label": "Style guide",
  "url": "http://platformos.com"
}
]
{% endparse_json %}{% endraw %}</div>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">
          {% raw %}{% render 'theme/simple/ui/breadcrumbs', breadcrumbs: context.page.metadata.breadcrumbs, value: 2 %}{% endraw %}
        </div>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        {% render 'theme/simple/ui/breadcrumbs', breadcrumbs: context.page.metadata.breadcrumbs, value: 2 %}
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Tags</h4>
          <dl class="table">
            <div class="table-row">
              <dt class="table-cell">Class:</dt>
              <dd class="table-cell ps-4 font-mono">tag</dd>
            </div>
            <div class="table-row">
              <dt class="table-cell">Modifiers:</dt>
              <dd class="table-cell ps-4 font-mono">tag-selected</dd>
            </div>
          </dl>
        <div class="mt-4 p-5 relative border bg-panel font-mono styleGuide-code">tags = ['tag #1', 'tag #2']</div>
        <div class="mt-4 p-5 relative border bg-panel font-mono styleGuide-code">
          {% raw %}{% render 'theme/simple/ui/tags', tags: tags, url: 'http://platformos.com/?tag='  %}{% endraw %}
        </div>
      </section>
      <section class="w-1/3">
        <div class="p-5 border mt-4 styleGuide-example">
          <span class="tag">Tag #1</span>
          <span class="tag tag-selected">Selected tag</span>
          <a href="#" class="tag">Link tag</a>
        </div>
        <div class="p-5 border mt-4 styleGuide-example">
          {% assign tags = 'tag #1, tag #2' | split: ',' %}
          {% render 'theme/simple/ui/tags', tags: tags, url: 'http://platformos.com/?tag='  %}
        </div>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Pagination</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">
          {% raw %}{% render 'theme/simple/ui/pagination', collection: collection, current_page: 3 %}{% endraw %}
        </div>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <fieldset class="mt-1">
          {% liquid
            assign collection = '{ "total_pages": 100, "total_entries": 1000, "has_next_page": true, "has_previous_page": true }' | parse_json
          %}
          {% render 'theme/simple/ui/pagination', collection: collection, current_page: 3 %}
        </fieldset>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Tabs</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono whitespace-pre-wrap styleGuide-code">{{'<ul class="flex gap-8 md:subtitle md:font-semibold">
  <li>
    <a href="#" class="py-4 block text-content-sidenote border-b-2 text-content">
      Tab 1
    </a>
  </li>
  <li>
    <a href="#" class="py-4 block  border-b-2 border-interaction text-content">
      Tab active
    </a>
  </li>
</ul>'}}</div>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <fieldset class="mt-1">
          <ul class="flex gap-8 md:subtitle md:font-semibold">
            <li>
              <a href="#" class="py-4 block text-content-sidenote border-b-2 text-content">
                Tab 1
              </a>
            </li>
            <li>
              <a href="#" class="py-4 block  border-b-2 border-interaction text-content">
                Tab active
              </a>
            </li>
          </ul>
        </fieldset>
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">User avatar</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">{% raw %}{% render 'theme/simple/ui/avatar', profile: profile, size: 96, class: 'w-24 h-24' %}{% endraw %}</div>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        <fieldset class="mt-1 flex justify-around">
          {% render 'theme/simple/ui/avatar', profile: current_profile, size: 96, class: 'w-24 h-24' %}
          {% render 'theme/simple/ui/avatar', size: 96, class: 'w-24 h-24' %}
        </fieldset>
      </section>
    </div>

    <div class="mt-16 flex gap-10" id="styleGuide-flashes">
      <section class="w-2/3">
        <h4 class="subtitle">Notifications</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">{% raw %}{% render 'theme/simple/ui/flash', error: 'Error message' %}{% endraw %}</div>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">new api.Flash('error', 'Error message')</div>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">{% raw %}{% render 'theme/simple/ui/flash', notice: 'Notice message', autohide: false %}{% endraw %}</div>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">new api.Flash('success', 'Success message')</div>
      </section>
      <section class="w-1/3 p-5 border styleGuide-example">
        {% render 'theme/simple/ui/flash', error: 'Error message' %}
        {% render 'theme/simple/ui/flash', notice: 'Notice message', autohide: false %}
      </section>
    </div>

    <div class="mt-16 flex gap-10">
      <section class="w-2/3">
        <h4 class="subtitle">Badges</h4>
        <div class="mt-5 p-5 relative border bg-panel font-mono styleGuide-code">{% raw %}{% render 'theme/simple/ui/badge', class: 'bg-confirmation', label: 'badge' %}{% endraw %}</div>
      </section>
      <section class="w-1/3 border relative overflow-hidden styleGuide-example">
        {% render 'theme/simple/ui/badge', class: 'bg-confirmation', label: 'badge' %}
      </section>
    </div>


    <article id="slider" class="mt-20">
      <header>
        <h3 class="title">Slider (simple)</h3>
      </header>

      <div class="flex gap-10">
        <section class="w-2/3">
          <div class="p-5 relative border bg-panel font-mono whitespace-pre-wrap styleGuide-code">{{'<div class="flex" data-slider>
    <button
      disabled
      class="pe-6 hidden lg:block text-interaction disabled:text-interaction-disabled hover:text-interaction-hover transition-colors"
      data-slider-prev
    >'}}
    {% raw %}{% if dir == 'rtl' %}
        {% render 'theme/simple/ui/icon', icon: 'dashRight', class: 'fill-current w-4 h-4' %}
      {% else %}
        {% render 'theme/simple/ui/icon', icon: 'dashLeft', class: 'fill-current w-4 h-4' %}
      {% endif %}{% endraw %}
    {{'</button>

    <ul class="w-full relative flex whitespace-nowrap overflow-x-auto lg:overflow-hidden">
      <li class="w-1/3 mx-2 first:ms-0 last:me-0 flex-shrink-0">Item 1</li>
      <li class="w-1/3 mx-2 first:ms-0 last:me-0 flex-shrink-0">Item 2</li>
      <li class="w-1/3 mx-2 first:ms-0 last:me-0 flex-shrink-0">Item 3</li>
      <li class="w-1/3 mx-2 first:ms-0 last:me-0 flex-shrink-0">Item 4</li>
    </ul>

    <button
      class="ps-6 hidden lg:block text-interaction disabled:text-interaction-disabled hover:text-interaction-hover transition-colors"
      data-slider-next
    >' }}
    {% raw %}{% if dir == 'rtl' %}
        {% render 'theme/simple/ui/icon', icon: 'dashLeft', class: 'fill-current w-4 h-4' %}
      {% else %}
        {% render 'theme/simple/ui/icon', icon: 'dashRight', class: 'fill-current w-4 h-4' %}
      {% endif %}{% endraw %}
    {{ '</button>
  </div>'}}</div>
        </section>
        <section class="p-5 border styleGuide-example">

          <div class="flex" data-slider>

            <button
              disabled
              class="pe-6 hidden lg:block text-interaction disabled:text-interaction-disabled hover:text-interaction-hover transition-colors"
              data-slider-prev
            >
              {% if dir == 'rtl' %}
                {% render 'theme/simple/ui/icon', icon: 'dashRight', class: 'fill-current w-4 h-4' %}
              {% else %}
                {% render 'theme/simple/ui/icon', icon: 'dashLeft', class: 'fill-current w-4 h-4' %}
              {% endif %}
            </button>

            <ul class="w-full relative flex whitespace-nowrap overflow-x-auto lg:overflow-hidden">
              <li class="w-1/3 mx-2 first:ms-0 last:me-0 flex-shrink-0">Item 1</li>
              <li class="w-1/3 mx-2 first:ms-0 last:me-0 flex-shrink-0">Item 2</li>
              <li class="w-1/3 mx-2 first:ms-0 last:me-0 flex-shrink-0">Item 3</li>
              <li class="w-1/3 mx-2 first:ms-0 last:me-0 flex-shrink-0">Item 4</li>
            </ul>

            <button
              class="ps-6 hidden lg:block text-interaction disabled:text-interaction-disabled hover:text-interaction-hover transition-colors"
              data-slider-next
            >
              {% if dir == 'rtl' %}
                {% render 'theme/simple/ui/icon', icon: 'dashLeft', class: 'fill-current w-4 h-4' %}
              {% else %}
                {% render 'theme/simple/ui/icon', icon: 'dashRight', class: 'fill-current w-4 h-4' %}
              {% endif %}
            </button>

          </div>

        </section>
      </div>
    </article>




</section>
