{% comment %}
  user avatar that is generated from user initials as default
  but replaced with the user image of correct size when the
  user uplaods an image

  arguments:
  class - the class names to add to avatar, you need to set the size here too (string)
  size - the size of the avatar you need in pixels (int)
{% endcomment %}

{% liquid
  if size <= 200 or size == nil
    assign version = 'sm'
  elsif size > 200 and size <= 500
    assign version = 'md'
  else
    assign version = 'lg'
  endif

  assign photos = actor.photo.versions | default: profile.avatar.photo.versions | default: profile.photo.url.versions
  assign avatar_jpg = photos[version]
  assign version_avif = version | append: '_avif'
  assign avatar_avif = photos[version_avif]
  assign size = size | default: 32
%}

{% if avatar_jpg %}

  <picture class="{{ class }} inline-block">
    <source type="image/avif" srcset="{{ avatar_avif }}">
    <img src="{{ avatar_jpg }}" width="{{ size }}" height="{{ size }}" alt="{{ alt }}" class="w-full h-full object-cover rounded-full" data-avatar>
  </picture>

{% else %}

  {% liquid
    if profile.first_name and profile.last_name
      assign initial_name = profile.first_name | slice: 0
      assign initial_surname = profile.last_name | slice: 0
      assign initials = initial_name | append: initial_surname
    else
      assign initials = profile.slug | slice: 1 | default: false
    endif
  %}

  <span class="flex items-center justify-center rounded-full bg-interaction-disabled text-interaction font-bold uppercase {{ class }}">
    {% if initials %}
      {{ initials }}
    {% else %}
      {% render 'theme/simple/ui/icon', icon: 'user', class: 'w-1/2' %}
    {% endif %}
  </span>

{% endif %}
