<p><b>{{ 'app.emails.orders.confirmed.buyer.greeting' | t: first_name: data.buyer.first_name }}</b></p>

<p>{{ 'app.emails.orders.confirmed.buyer.info' | t }}</p>

<h2 class="mt subtitle">{{ 'app.emails.orders.confirmed.buyer.order_summary' | t }}</h2>
<table cellspacing="0" class="sidenote">
  <tr>
    <td>{{ 'app.emails.orders.confirmed.buyer.transaction_id' | t }}:</td>
    <td class="table-spacing">&nbsp;</td>
    <td>{{ data.transaction.id }}</td>
  </tr>
  <tr>
    <td>{{ 'app.emails.orders.confirmed.buyer.order_date' | t }}:</td>
    <td class="table-spacing"></td>
    <td>{{ data.transaction.created_at | l: 'compact' }}</td>
  </tr>
</table>


<div class="mt border"></div>

{% for order in data.orders %}
  <div class="mt">
    <b>{{ order.seller.name }}</b> (<a href="{{ order.order_url }}">{{ 'app.emails.orders.confirmed.buyer.contact_link' | t: name: order.seller.name }}</a>)<br>
    <span class="sidenote">{{ 'app.emails.orders.confirmed.buyer.order_id' | t }}: {{ order.id }}</span>
  </div>

  <table cellspacing="0" class="mt-2 w-full">
    {% for item in order.line_items %}
      <tr>
        <td>
          {% render 'theme/simple/items/cover', item: item.item %}
        </td>
        <td class="table-spacing"></td>
        <td>{{ item.item.item_detail.name }}</td>
        <td class="table-spacing"></td>
        <td class="text-right">{{ item.quantity }}</td>
        <td class="table-spacing"></td>
        <td class="text-right">{% render 'theme/simple/price', amount_cents: item.total_price_cents, currency: item.currency %}</td>
      </tr>
    {% endfor %}
  </table>

  <div class="mt-2">
    <i>{{ 'app.emails.orders.confirmed.buyer.delivery' | t }}</i>:<br>
    {{ order.shipping_type | t: scope: 'app.orders.checkout.delivery_type' }} – {% render 'theme/simple/price', amount_cents: order.total_shipping_cost_cents, currency: order.currency %}<br>
    {% render 'theme/simple/emails/delivery', shipping_address: order.shipping_address, pickup_point: order.shipping_pickup_point %}
  </div>
{% endfor %}

<div class="mt border"></div>

<h2 class="mt subtitle">{{ 'app.emails.orders.confirmed.buyer.order_total' | t }}</h2>
<table cellspacing="0">
  <tr>
    <td>{{ 'app.emails.orders.confirmed.seller.subtotal' | t }}:</td>
    <td class="table-spacing"></td>
    <td>{% render 'theme/simple/price', amount_cents: data.products_price_cents, currency: data.transaction.currency %}</td>
  </tr>
  {% unless data.orders[0].shipping_type == 'digital' %}
    <tr>
      <td>{{ 'app.emails.orders.confirmed.buyer.delivery' | t }}:</td>
      <td class="table-spacing"></td>
      <td>{% render 'theme/simple/price', amount_cents: data.total_shipping_cost_cents, currency: data.transaction.currency %}</td>
    </tr>
  {% endunless %}
  <tr>
    <td><b>{{ 'app.emails.orders.confirmed.buyer.total_price' | t }}:</b></td>
    <td class="table-spacing"></td>
    <td><b>{% render 'theme/simple/price', amount_cents: data.transaction.amount, currency: data.transaction.currency %}</b></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>{{ 'app.emails.orders.confirmed.buyer.payment_method' | t }}:</td>
    <td class="table-spacing"></td>
    <td>{{ 'app.orders.payment_types.' | append: data.transaction.gateway | t }}</td>
  </tr>
</table>
