{{ 'app.emails.orders.return.approve.buyer.greeting' | t: name: data.line_item_return.order.buyer.name }}<br/>
<br/>
{{ 'app.emails.orders.return.approve.buyer.info' | t: seller_name: data.line_item_return.order.seller.name }}<br/>
<br/>
<a href="{{ data.line_item_return.return_url }}">{{ 'app.emails.orders.return.approve.buyer.return_link' | t }}</a>

<h2>{{ 'app.emails.orders.return.approve.buyer.details' | t }}</h2>
<i>{{ data.line_item_return.line_item.item.item_detail.name }}</i> qty: {{ data.line_item_return.quantity }}, {% render 'theme/simple/price', amount_cents: data.line_item_return.amount, currency: data.line_item_return.line_item.currency %}<br/>

{{ 'app.emails.orders.return.approve.buyer.reason' | t }} {{ data.line_item_return.reason}}<br/>
{{ 'app.emails.orders.return.approve.buyer.reason_details' | t }} {{ data.line_item_return.reason_details }}<br/>

<h2>{{ 'app.emails.orders.return.approve.buyer.delivery' | t }}</h2>
<i>{{ 'app.models.line_item_returns.form.shipping_type_' | append: data.line_item_return.shipping_type | t }}</i><br/>
{% render 'theme/simple/emails/delivery', shipping_address: data.line_item_return.shipping_address, pickup_point: data.line_item_return.shipping_pickup_point %}
