<input type="hidden" name="{{ form_builder.fields.success_message.name }}" value=" {{ config.success_message | default: 'You have successfully created payment' }}" />

{% if data.source == blank %}
  <script src="https://checkout.stripe.com/checkout.js" defer></script>
  <script src="{{ 'modules/stripe/javascripts/CheckoutPaymentForm.js' | asset_url }}" defer></script>
  <input type="hidden" name="{{ data_attribute }}[source]" value="" data-cc-token />
  {% include 'modules/stripe/card/form', data: data, config: config %}
{% else %}
  <div class="row">
    <div class="col">
      <button class='btn btn-primary stripe-button-el charge-stripe' type="submit">
        {{ config.button | default: "Pay" }}
      </button>
    </div>
  </div>
{% endif %}


