<article class="card !p-0 flex flex-col rounded relative overflow-hidden" data-tc="group-card">

  {% if group.main_photo %}
    <a href="{% render 'link_to', group: group %}">
      <picture>
        <source type="image/avif" srcset="{{ group.main_photo.photo.versions.m_avif }}, {{ group.main_photo.photo.versions.lg_avif }} 2x">
        <img src="{{ group.main_photo.photo.versions.m }}" srcset="{{ group.main_photo.photo.versions.lg }} 2x" width="{{ group.main_photo.photo.photo_width }}" height="{{ group.main_photo.photo.photo_height }}" alt="" class="w-full">
      </picture>
    </a>
  {% endif %}

  <div class="p-4 pb-0 flex flex-col">
    <h3 class="subtitle">
      <a href="{% render 'link_to', group: group %}" class="text-content">{{ group.name }}</a>
    </h3>

    {% if group.tags[0] %}
      <ul class="mt-2 flex flex-wrap gap-2 sidenote">
        {% for tag in group.tags %}
          <li class="py-1 px-2 rounded bg-panel-highlight uppercase">#{{ tag }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <p class="my-4">
      {{ group.summary | truncatewords: 7 }}
    </p>
  </div>

  <footer class="mt-auto p-4 flex flex-wrap items-center justify-between gap-4">
    <ul class="sidenote flex flex-col md:flex-row gap-2 md:gap-3 text-content-sidenote">
      <li class="flex items-center gap-2">
        {{ group.c__members_count | default: 0 }} {{ 'app.groups.members' | t: count: group.c__members_count | downcase }}
      </li>
      <li class="flex items-center gap-2 md:border-s md:ps-3">
        {% render 'theme/simple/ui/icon', icon: 'commentText' %}
        {{ group.c__posts_count | default: 0 }}
      </li>
    </ul>

    <span class="ms-auto">
      {% liquid
        if group.member == blank and group.owner == blank
          render 'theme/simple/groups/buttons/join', class: 'button-small', group: group, context: context, current_profile: current_profile
        endif

        if group.member.pending_acceptance
          render 'theme/simple/groups/buttons/accept_invite', class: 'button-small', group: group, context: context, current_profile: current_profile
        endif
      %}
    </span>
  </footer>
</article>
