{% liquid
  if object.id
    assign method = 'put'
    function form_url = 'link_to', object: object
  else
    assign method = 'post'
    assign form_url = '/groups'
  endif
  assign uuid = '' | uuid
  assign group_uuid = object.uuid | default: uuid
%}


<div class="container">
  <div class="w-full lg:w-2/3">
    <h2 class="title">
      {{ 'app.groups.form.group_info' | t }}
    </h2>
    <p>
      {{ 'app.groups.form.group_info_subtitle' | t }}
    </p>
  </div>
</div>

<div class="container mt-8 flex flex-wrap">
  <form action="{{ form_url }}" method="post" class="w-full md:w-2/3" data-photo-upload-base>

    {% render 'authenticity_token', context: context %}
    <input type="hidden" name="_method" value="{{ method }}">
    {% if object.id %}
      <input type="hidden" name="id" value="{{ object.id }}">
      <input type="hidden" name="group[id]" value="{{ object.id }}">
    {% endif %}
    <input type="hidden" name="group[uuid]" value="{{ group_uuid }}">
    {% if context.params.return_to %}
      <input type="hidden" name="return_to" value="{{ context.params.return_to }}">
    {% endif %}

    <fieldset class="lg:w-2/3" x-data="charCounter()">
      <label class="mb-1 cursor-pointer flex justify-between" for="name">
        {{ 'app.groups.form.name' | t }} ({{ 'app.required' | t }})
        <span><span x-text="charsLeft"></span> {{ 'app.groups.form.chars' | t }}</span>
      </label>
      <input class="w-full" type="text" id="name" name="group[name]" value="{{ object.name }}" autofocus required maxlength="25" x-ref="content" x-bind="input">
      {% render 'theme/simple/field_error', errors: object.errors.name %}
    </fieldset>

    <fieldset class="mt-6">
      <label class="mb-1 block cursor-pointer" for="groupType">{{ 'app.groups.form.privacy' | t }} ({{ 'app.required' | t }})</label>
      <ul class="p-4 flex flex-col md:grid grid-cols-3 !grid-cols-{{ context.group_templates.size }} gap-8 rounded bg-panel-highlight">
        {% for gt in context.group_templates %}
          <li class="flex gap-2">
            {% liquid
              assign group_type = gt[0]
            %}
            <input type="radio" name="group[group_type]" id="group[group_type][{{ group_type }}]" value="{{ group_type }}" {% if object.group_type == group_type %}checked{% endif %} required class="mt-1">
            <div>
              <label for="group[group_type][{{ group_type }}]" class="cursor-pointer">{{ 'app.groups.types.' | append: group_type | t }}</label>
              <div class="sidenote text-content-sidenote">{{ 'app.groups.types.' | append: group_type | append: '_desc' | t }}</div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </fieldset>

    <fieldset class="mt-6">
      <div class="mb-1">{{ 'app.groups.form.photo' | t }}</div>
      <div class="mb-2 sidenote text-content-sidenote">{{ 'app.groups.form.photo_desc' | t }}</div>
      {% render 'theme/simple/photos/uppy_area' %}
    </fieldset>

    <fieldset class="mt-6" x-data="charCounter()">
      <label class="mb-1 cursor-pointer flex justify-between" for="summary">
        {{ 'app.groups.form.summary' | t }} ({{ 'app.required' | t }})
        <span><span x-text="charsLeft"></span> {{ 'app.groups.form.chars' | t }}</span>
      </label>
      <input type="text" name="group[summary]" value="{{ object.summary }}" id="summary" required maxlength="100" x-ref="content" x-bind="input" class="w-full">

      {% render 'theme/simple/field_error', errors: object.errors.summary %}
      {% render 'theme/simple/ui/form-tip', content_key: 'app.groups.form.summary_tip' %}
    </fieldset>

    <fieldset class="mt-6" x-data="charCounter()">
      <label class="mb-1 block cursor-pointer" for="description">{{ 'app.groups.form.description' | t }}</label>
      <textarea name="group[description]" rows="2" x-ref="content" x-bind="input" id="description" data-markdown-editor class="w-full">{{ object.description }}</textarea>

      {% render 'theme/simple/field_error', errors: object.errors.description %}
      {% render 'theme/simple/ui/form-tip', content_key: 'app.groups.form.description_tip' %}
    </fieldset>

    <div class="mt-6">
      <label class="mb-1 block cursor-pointer" for="code_of_conduct">{{ 'app.groups.form.code_of_conduct' | t }}</label>
      <textarea class="w-full form-input" id="code_of_conduct" name="group[code_of_conduct]" rows="2" data-markdown-editor>{{ object.code_of_conduct }}</textarea>

      {% render 'theme/simple/field_error', errors: object.errors.code_of_conduct %}
      {% render 'theme/simple/ui/form-tip', content_key: 'app.groups.form.code_of_conduct_tip' %}
    </div>

    <div class="mt-6">
      <div class="mb-1">{{ 'app.groups.form.content_type' | t }}</div>
      {% render 'theme/simple/ui/form-tip', content_key: 'app.groups.content_types_explanation.intro' %}
      {% render 'theme/simple/field_error', errors: object.errors.content_types %}
      <div class="mt-2 p-4 flex flex-wrap gap-8 rounded bg-panel-highlight">
        {% for content_type in context.post_templates %}
          <div>
            {% render 'theme/simple/groups/content_type', group: object, content_type: content_type[0], template: content_type[1] %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="mt-6">
      <label class="mb-1 block cursor-pointer" for="tags">{{ 'app.groups.form.tags' | t }}</label>
      <input class="w-full uppercase" type="text" id="tags" name="group[tags]" value="{{ object.tags | join: ',' }}" data-tags-allowlist-input data-tags-whitelist="{{ context.tag_names | join: ',' }}">
      {% render 'theme/simple/field_error', errors: object.errors.tags %}
      {% render 'theme/simple/ui/form-tip', content_key: 'app.groups.form.tags_help' %}
    </div>

    <button class="mt-12 button">
      {% if object.id %}
        {{ 'app.groups.form.update' | t }}
      {% else %}
        {{ 'app.groups.form.submit' | t }}
      {% endif %}
    </button>
  </form>
</div>

{% liquid
  assign photo = photos[0] | default: object.main_photo
  assign photos = '[]' | parse_json
  assign photos = photos | add_to_array: photo | compact
%}
{% render 'theme/simple/photos/uppy_form',
  object_uuid: group_uuid,
  presigned_url: context.presigned_url,
  user_id: user.id,
  photo_type: 'main',
  note: 'Image up to 2MB',
  max_number_of_files: 1,
  existing_photos: photos
%}
