{% if list.results.size > 0 %}

  <div class="table w-full mt-12 first:mt-0">

    <h3 class="lg:hidden font-semibold capitalize">{{ title | t }}</h3>

    <header>
      <div class="text-base"><h3 class="font-semibold capitalize">{{ title | t }}</h3></div>
      <div>{{ 'app.groups.relationships.l_accepted_at' | t }}</div>
      <div>{{ 'app.groups.relationships.r_accepted_at' | t }}</div>
      <div></div>
    </header>

    {% for relation in list.results %}

      <ul class="md:table-row">
        <li class="md:table-cell pt-4 md:py-4 md:pe-6 border-t align-middle">
          {% assign profile = relation.l %}
          <a class="inline-flex items-center gap-2" href="/profile/{{ profile.slug }}">
            {% render 'theme/simple/ui/avatar', profile: profile, size: 44, class: 'w-11 h-11' %}
            {{ profile.first_name }} {{ profile.last_name }}
          </a>
        </li>

        <li class="md:table-cell pt-4 md:py-4 md:px-6 md:border-t align-middle">
          {% if relation.l_accepted_at %}
            <span class="md:hidden">{{ 'app.groups.relationships.l_accepted_at' | t }}:</span>
            <time class="timeago" datetime="{{ relation.l_accepted_at }}">{{ relation.l_accepted_at }}</time>
          {% endif %}
        </li>

        <li class="md:table-cell md:py-4 md:px-6 md:border-t align-middle">
          <span class="md:hidden">{{ 'app.groups.relationships.r_accepted_at' | t }}:</span>
          {% if relation.r_accepted_at == blank %}
            {% render 'theme/simple/groups/buttons/approve_request', group: group, context: context, relation: relation %}
          {% else %}
            <time class="timeago" datetime="{{ relation.r_accepted_at }}">{{ relation.r_accepted_at }}</time>
          {% endif %}
        </li>

        <li class="md:table-cell py-4 md:border-t align-middle">
          <div class="flex items-center justify-between md:justify-end gap-4">
            {% capture 'dropdown' %}
              <ul class="whitespace-nowrap">
                <li>
                  <form action="{% render 'link_to', object: relation %}" method="post">
                    {% render 'authenticity_token', token: context.authenticity_token %}
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="name" value="{{ relation.name }}">
                    <input type="hidden" name="l_id" value="{{ relation.l_id }}">
                    <input type="hidden" name="r_id" value="{{ relation.r_id }}">
                    <input type="hidden" name="return_to" value="{% render 'link_to', object: group, action: 'relationships' %}">

                    <button class="block py-3 px-7 rounded hover:bg-interaction text-content hover:text-content-inverted transition-colors">
                      {{ 'app.groups.relationships.remove_from_group' | t }}
                    </button>
                  </form>
                </li>
              </ul>
            {% endcapture %}
            {% capture dropdown_label %}
              {% render 'theme/simple/ui/icon', icon: 'menuHorizontal', class: 'w-6 h-6' %}
            {% endcapture %}
            {% render 'theme/simple/ui/dropdown', toggle_class: 'p-4 ps-0 lg:ps-4 text-content-sidenote hover:text-interaction-hover' toggle_title: '', label: dropdown_label, content: dropdown %}

            {% render "modules/chat/theme/simple/message_button", to_id: profile.id, label_key: 'modules/chat/message', class: 'button button-secondary' %}
          </div>
        </li>
      </ul>
    {% endfor %}

  </div>

  <form action="" id="search-form"></form>

  {% render 'theme/simple/ui/pagination', form: 'search-form' collection: list, current_page: page %}
{% endif %}
