<!-- {% graphql media_read = 'venue_rooms/show' %}
{% assign mTable = media_read.models.results %} -->
<!-- Manage Profile -->
{% assign current_profile = context.exports.current_profile %}
<!-- {{ current_profile }} -->
{% if context.exports.current_profile.user_type == "venue_owner" %}
  <ul class="flex flex-col mx-8 py-4">
    <li class="pt-2">
      <a href="#" class="">
        View Room
      </a>
    </li>
    <li class="pt-2">
      <a href="#" class="">
        Manage Bookings
      </a>
    </li>
    <li class="pt-2">
      <a href="#" class="">
        Last Minute Deals
      </a>
    </li>
    <li class="pt-2">
      <a href="#" class="">
        Promote My Venue
      </a>
    </li>
    <li class="pt-2">
      <a href="#" class="">
        View My Stats
      </a>
    </li>
  </ul>

  <!-- Manage Rooms -->
  <ul class="flex flex-col mx-4">
    <!-- <li class="room_manages pt-2">
      <a href="/dashboard/rooms/new?id={{ context.exports.current_profile.uuid }}">
        Add New Room
      </a>
    </li> -->
    <li class="room_manages pt-2">
      <a href="#">
        Edit Account Settings
      </a>
    </li>
    <li class="room_manages pt-2">
      <a href="#">
        Update Contract
      </a>
    </li>
    <li class="room_manages pt-2">
      <a href="/passwords/reset">
        Change Password
      </a>
    </li>
  </ul>


  <div class="row mx-4">
    <!-- Fetching Venue Data for Compare ID -->
    {% graphql venue_list = 'venue/read' %}
    <!-- {{ venue_list.models.results }}<br> -->

    <!-- Fetching Rooms Data -->
    {% graphql read = 'venue_rooms/show' %}
    {% assign rooms = read.models.results %}
    <!-- {{ read.models.results }}
    {{ variable }}<br> -->
    <br>

    <!-- For Loop Starts for venue data -->
    {% for venue in venue_list.models.results %}
      <!-- {{ venue }} -->
      <!-- Manage Rooms -->
      {%- comment -%}
        {% if venue.properties.profile_id %}
        {% endif %}
      {%- endcomment -%}
      <!-- Comparing Venue Registered Profile-ID with Current Login User-ID Starts   -->
      {% if venue.properties.profile_id == context.exports.current_profile.user_id %}
      <ul class="flex flex-col mx-4">
        <li class="room_manages pt-2">
          <a href="/dashboard/rooms/new?id={{ venue.id }}" class="button form-input-small">
            Add New Room
          </a>
        </li>
      </ul>
        <!-- For Loop Starts for venue-room data -->
        {% for room in rooms %}
          <!-- {{ room }} -->
          <!-- {{ context }}<br> -->

          
          <!-- Compare Venue-ID and Room-ID Starts -->
          {% if venue.id == room.properties.venue_id %}
            <!-- Checks If Room Have a Venue-Id Starts -->
            {% if room.properties.venue_id %}      
              <div class="flex border_1">
                <ul class="flex flex-col mt-8 w-1/3">
                  <li class="text-3xl">
                    Room No. {{ room.id }}
                  </li>
                  <li>
                    Venue Id : {{ room.properties.venue_id }}
                  </li>
                  <li>
                    Room Name : {{ room.properties.venue_room_name }}
                  </li>
                  <li>
                    Room Capacity : {{ room.properties.venue_room_capacity }}
                  </li>
                  <li>
                    Media Ids : {{ room.properties.media_ids }}<br>
                  </li>
        
                  <li class="mt-8">
                    <a href="dashboard/rooms/update?id={{ room.id }}" class="button form-input-small">
                      {{ "Update Room" }}
                    </a>
                  </li>
                  <li class="mt-3">
                  </li>
                </ul>
                <div class="w-3/4 relative">
                  <div class="flex flex-wrap mx-auto">
                    <!-- For Loop Starts to Find Photo Ids from Photo Table -->
                    {% for media_id_ in room.properties.media_ids %}  
                      <!-- {{ media_id_ }}<br>       -->

                      <!-- Fetching Room Media Data -->
                      {% graphql media_search = 'venue/media_search', id: media_id_ %}
                      <!-- Checks If Room Media Available Starts -->
                      {% if media_search %}
                        <!-- {{ media_search }} -->
                        <!-- {{ media_search.photos.results }} -->
                        <!-- For Loop Starts to Get Media Url(Links) -->
                        {% for media_src in media_search.photos.results %}
                          <div class="w-1/4 m--auto">
                            <!-- <h1 class="text-3xl">
                              {{ media_src.testing_media.extension }}
                            </h1> -->
                            <!-- Comparing Media Link for Images Starts -->
                            {% if media_src.testing_media.extension == "jpeg" or media_src.testing_media.extension == "jpg" or media_src.testing_media.extension == "png" or  media_src.testing_media.extension == "webp" %}
                              <a href="{{ media_src.testing_media.url }}" target="_blank">
                                <img src="{{ media_src.testing_media.url }}" alt="" srcset="" class="listing_imgs">
                              </a>
                            {% endif %}
                            <!-- Comparing Media Link for Images Ends -->

                            <!-- Comparing Media Link for Videos Starts -->
                            {% if media_src.testing_media.extension == "mp4" %}
                              <a href="{{ media_src.testing_media.url }}" target="_blank">
                                <video controls class="listing_imgs">
                                  <source src="{{ media_src.testing_media.url }}" type="video/mp4">
                                </video>
                              </a>
                            {% endif %}
                            <!-- Comparing Media Link for Videos Ends -->
                          </div>
                        {% endfor %}
                        <!-- For Loop Ends to Get Media Url(Links) -->
                      {% endif %}
                      <!-- Checks If Room Media Available Ends -->
                    {% endfor %}
                    <!-- For Loop Ends to Find Photo Ids from Photo Table -->
                  </div>

                  {%- comment -%}
                    {% render 'theme/simple/wishlists/button', profile_id: current_profile.id, item_id: room.id  %} 
                  {%- endcomment -%}
                  
                </div>
              </div>
            {% endif %}
            <!-- Checks If Room Have a Venue-Id Ends -->
          {% endif %}
          <!-- Compare Venue-ID and Room-ID Ends -->
        {% endfor %}
        <!-- For Loop Ends for venue-room data -->
      {% endif %}
      <!-- Comparing Venue Registered Profile-ID with Current Login User-ID Ends -->
    {% endfor %}
    <!-- For Loop Ends for venue data -->
  </div>

  <!-- {{ context }} -->
{% endif %}