{% liquid
  function url = "link_to", object: model

  if model.type == 'item'
    assign model_name = model.item_detail.name
  elsif model.type == 'post'
    assign model_name = model.name | default: model.title
  else
    assign model_name = model.name
  endif
%}
{%- comment -%}
  <div class="px-0 pt-0 overflow-hidden card">
    <a class="relative block h-64 overflow-hidden shadow-sm" href="{{ url }}">
      {% if model.photo.photo.versions.m.size > 0 %}
        <picture>
          <source type="image/avif" srcset="{{ model.photo.photo.versions.m_avif }}, {{ model.photo.photo.versions.lg_avif }} 2x">
          <img src="{{ model.photo.photo.versions.m }}" srcset=" {{ model.photo.photo.versions.lg }} 2x" width="{{ model.photo.photo_width }}" height="{{ model.photo.photo_height }}" alt="{{ object.name | default: object.id | truncate: 120 }}">
        </picture>
      {% else %}
        {% render 'theme/simple/ui/picture-placeholder' %}
      {% endif %}
    </a>

    <div class="md:p-4">
      <header class="text-xs">
        {% print model.type | t: scope: 'app.quick_search.type' %}

        <div class="float-right">
          {% if current_profile and model.type == 'profile' and current_profile.id != model.id %}
            {% render 'theme/simple/follow_button', current_profile: current_profile, profile: model %}
          {% endif %}
        </div>
      </header>

      <div class="mt-4">
        {% if url %}
          <h2 class="text-lg font-medium">
            <a href="{{ url }}">{{ model_name }}</a><br>
          </h2>
        {% endif %}
      </div>
    </div>
  </div>
{%- endcomment -%}

{%- comment -%}
{%- endcomment -%}
{% if model.type == "venues" %}  
  <div class="rounded-md border border-borderColor relative bg-white ">
    {% assign search_model = model.venue_space | first %}
    {% assign model_media = search_model.media | first %}
    {% assign model_pricing = model.pricing | first %}
    <!--col-0-->
    {%- comment -%}
    {%- endcomment -%}
    <div class="flex px-3 py-4 absolute top-0 justify-between w-full">
      <div class="mm" x-data="{ currentTab: 'tab1' }">

          <span x-data="{ open: false }"
            class="p-2 w-8 h-8 bg-white rounded-md inline-block flex justify-center items-center right-0 cursor-pointer">
            <img x-bind:class="{ 'active': currentTab ===
            'tab1' }" x-on:click="currentTab= 'tab1'" src="{{ 'images/event-hound/heart_fill.svg' | asset_url }}">
            <img x-bind:class="{ 'active': currentTab ===
            'tab2' }" x-on:click="currentTab= 'tab2'" src="{{ 'images/event-hound/heart_unfill.svg' | asset_url }}">
          </span>
      </div>
    </div>
    <a href="{{ url }}">
      <img src="{{ model_media.photo.url }}" class="rounded-t-md  w-full h-56 max-xxl:h-44 ">
      <div class="px-4 py-3">
          <div class="flex justify-between items-center max-xs:block">
            <p
                class=" text-primaryBlack font-semibold text-lg max-xxl:text-lg max-xl:text-base leading-2">
                <!-- Sunshine Hotel -->
                {{ search_model.space_name }}
              </p>
            <span class="inline-flex text-primaryBlack font-semibold max-xxl:text-sm font-Work"><img
                  src="{{ 'images/event-hound/star.svg' | asset_url }}" class="mr-1"> 4.1</span>

          </div>
          <div class="flex justify-between items-center">
            <p class="text-primaryLightBlue text-sm font-Work max-xxl:text-sm">
              <!-- 4 star hotel in Canada -->
              {{ model.venue_address }}
            </p>
            <span class="inline-flex">
                <p class="text-PrimaryLightBlue text-sm font-Work max-xxl:text-xs">1319 <span
                      class="text-primaryLightBlue">Reviews</span></p>
            </span>
          </div>
          <p class="pt-1 pb-2">
            {%- comment -%}
              <span
                class="text-xl text-primaryBlack font-semibold font-Work py-1.5 max-xxl:text-base line-through">
                $340.00
              </span>
            {%- endcomment -%}
            <span
              class="text-xl text-primaryDarkGreen  font-semibold font-Work py-1.5 max-xxl:text-base ml-4">
              <!-- $290.00 -->
              {{ model_pricing.weekdays_day }}
            </span>
          </p>

          <p class=" text-primaryGrey font-Work font-semibold text-sm  flex items-start">
            <img
              src="{{ 'images/event-hound/bank.svg' | asset_url }} " class="mr-1 mt-1">
              <!-- The Wedding Banquet -->
              {{ search_model.event_type }}
            </p>
          <p class=" text-primaryGrey font-Work text-sm  flex items-start">
            <img
              src="{{ 'images/event-hound/location1.svg' | asset_url }} " class="mr-1 mt-1">
              <!-- 123 Green Avenue St, Toronto, Canada -->
              {{ model.venue_address }}
            </p>
      </div>
    </a>
    <!--col-0-end-->
  </div>
{% elsif model.type == "venue_event_space" %}
  <div class="rounded-md border border-borderColor relative bg-white ">
    {% assign search_model = model %}
    {% assign venue_address = model.venue_address | first %}
    {% assign model_media = model.media | first %}
    {% assign model_pricing = model.pricing | first %}
    <!--col-0-->
    {%- comment -%}
    {%- endcomment -%}
    <div class="flex px-3 py-4 absolute top-0 justify-between w-full">
      <div class="mm" x-data="{ currentTab: 'tab1' }">
  
          <span x-data="{ open: false }"
            class="p-2 w-8 h-8 bg-white rounded-md inline-block flex justify-center items-center right-0 cursor-pointer">
            <img x-bind:class="{ 'active': currentTab ===
            'tab1' }" x-on:click="currentTab= 'tab1'" src="{{ 'images/event-hound/heart_fill.svg' | asset_url }}">
            <img x-bind:class="{ 'active': currentTab ===
            'tab2' }" x-on:click="currentTab= 'tab2'" src="{{ 'images/event-hound/heart_unfill.svg' | asset_url }}">
          </span>
      </div>
    </div>
    <a href="{{ url }}">
      <img src="{{ model_media.photo.url }}" class="rounded-t-md  w-full h-56 max-xxl:h-44 ">
      <div class="px-4 py-3">
          <div class="flex justify-between items-center max-xs:block">
            <p
                class=" text-primaryBlack font-semibold text-lg max-xxl:text-lg max-xl:text-base leading-2">
                <!-- Sunshine Hotel -->
                {{ search_model.space_name }}
              </p>
            <span class="inline-flex text-primaryBlack font-semibold max-xxl:text-sm font-Work"><img
                  src="{{ 'images/event-hound/star.svg' | asset_url }}" class="mr-1"> 4.1</span>
  
          </div>
          <div class="flex justify-between items-center">
            <p class="text-primaryLightBlue text-sm font-Work max-xxl:text-sm">
              <!-- 4 star hotel in Canada -->
              {{ venue_address.venue_address }}
            </p>
            <span class="inline-flex">
                <p class="text-PrimaryLightBlue text-sm font-Work max-xxl:text-xs">1319 <span
                      class="text-primaryLightBlue">Reviews</span></p>
            </span>
          </div>
          <p class="pt-1 pb-2">
            {%- comment -%}
              <span
                class="text-xl text-primaryBlack font-semibold font-Work py-1.5 max-xxl:text-base line-through">
                $340.00
              </span>
            {%- endcomment -%}
            <span
              class="text-xl text-primaryDarkGreen  font-semibold font-Work py-1.5 max-xxl:text-base ml-4">
              <!-- $290.00 -->
              {{ model_pricing.weekdays_day }}
            </span>
          </p>
  
          <p class=" text-primaryGrey font-Work font-semibold text-sm  flex items-start">
            <img
              src="{{ 'images/event-hound/bank.svg' | asset_url }} " class="mr-1 mt-1">
              <!-- The Wedding Banquet -->
              {{ search_model.event_type }}
            </p>
          <p class=" text-primaryGrey font-Work text-sm  flex items-start">
            <img
              src="{{ 'images/event-hound/location1.svg' | asset_url }} " class="mr-1 mt-1">
              <!-- 123 Green Avenue St, Toronto, Canada -->
              {{ venue_address.venue_address }}
            </p>
      </div>
    </a>
    <!--col-0-end-->
  </div>
{% endif %}