{% liquid
  if object.errors.otp_code
    assign page = 'code'
  else
    assign page = 'scan'
  endif
%}
<div class="my-10 container items-center"
  x-data="{page: '{{ page }}', code: '{{ otp.secret }}'.match(/.{1,4}/g).join(' ')}"
>
  <h2 class="bigtitle text-center">
    {{ 'app.2fa.new.two_factor_authentication' | t  }}
  </h2>

  <section class="card w-full md:max-w-lg mx-auto"
    x-show="page === 'scan'" x-ref="scan">

    <div class="markdown pb-4 mb-4 border-b">
      {{ 'app.2fa.new.2fa_info' | t | markdown }}
    </div>

    <h3 class="title text-center">
      {{ 'app.2fa.new.scan_qr_code' | t  }}
    </h3>

    <div class="mb-8 flex justify-center">
      {{ otp.secret_as_svg_qr_code }}
    </div>

    <div class="text-center">
      {{ 'app.2fa.new.if_you_cannot_scan' | t  }}<br>
      <span class="font-mono text-xl" x-text="code">{{ otp.secret }}</span>
    </div>

    <footer class="mt-8 pt-8 text-right border-t">
      <button class="button"
        x-on:click="page = 'code'; $nextTick(() => document.querySelector('[x-ref=\'0\']').focus())">
        {{ 'app.2fa.new.next' | t }} {% render 'theme/simple/ui/icon', icon: 'dashRight' %}
      </button>
    </footer>
  </section>


  <section class="card w-full md:max-w-lg mx-auto"
    x-cloak x-show="page === 'code'" x-ref="code">

    <div class="pb-4 mb-4 border-b">
      {{ 'app.2fa.new.please_confirm' | t  }}
    </div>

    <h3 class="title text-center">
      {{ 'app.2fa.new.confirm_otp_code' | t  }}
    </h3>

    <form action="/sessions/2fa_setup" method="post" class="mt-8">
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="2fa[email]" value="{{ object.email }}">
      <input type="hidden" name="2fa[password]" value="{{ object.password }}">

      {% render 'theme/simple/2fa/otp_code_input', object: object %}
      {% render 'theme/simple/field_error', errors: object.errors.otp_code %}

      <fieldset class="mt-8 pt-8 text-right border-t">
        <button class="button">{{ 'app.2fa.session.login' | t }} {% render 'theme/simple/ui/icon', icon: 'dashRight' %}</button>
      </fieldset>
    </form>
  </section>
</div>
