<h1 class="pagetitle"> Venue Owner Password Change </h1>

{%liquid
  graphql read_gql = "venue_owner/show" | fetch:  "models"
  assign data_gql = read_gql | fetch: "results"
%}

<!-- {{ context.params.id }} -->

<!-- <li>
  {{ context }}
</li> -->

{% for data in data_gql %}
  {% if data.id == context.params.id %}
    <form action="/venue_owner/password_changed" method="POST" class="card-lg w-full md:w-96 mx-auto">
      <h1 class="text-3xl text-center">
        {{ "Profile Id" }} : {{ data.id }}
      </h1><br>
      {{ "Current Password" }} : {{ data.Password }}<br>


      <input type="hidden" name="venue_owner_id" value="{{ data.id }}">
      <input type="hidden" name="venue_owner_old_pass" value="{{ data.Password }}">
      

      <div class="mt-3">
        <label for="cusrrent_password"> Enter Your Current Password :  </label>
        <input type="password" name="current_password" class="current_password" id="current_password">
      </div>
      <!-- <input type="password" class="current_password" id="current_password" value="{{ data.Password }}"> -->
      <div class="mt-3">
        <label for="new_password"> Enter Your New Password : </label>
        <input type="password" name="new_password" class="new_password" id="new_password">
      </div>
      <div class="mt-3">
        <button class="button mt-3">{{ "Submit" }}</button>
      </div>
    </form>
  {% endif %}
{% endfor %}


{{ context.current_user }}