<header class="mt-2.5 mb-6 -mx-8 px-8 pb-7 flex justify-between gap-8 border-b">
  <h2 class="title flex items-center gap-4">
    {% render 'theme/simple/ui/icon', icon: 'star', class: 'w-6 relative top-0.5 text-content-sidenote' %}
    {{ 'app.admin.reviews.review' | t }} - {{review.id}}
  </h2>

</header>

<div class="grid md:grid-cols-2 text-sm mb-6 pb-7 border-b">
  <div class="grid grid-cols-2">
    <div class="px-4 py-2 font-semibold">{{ 'app.reviews.items.body' | t }}</div>
    <div class="px-4 py-2">{{review.body}}</div>
  </div>
  <div class="grid grid-cols-2">
    <div class="px-4 py-2 font-semibold">{{ 'app.reviews.items.new.pros' | t }}</div>
    <div class="px-4 py-2">{{review.pros}}</div>
  </div>
  <div class="grid grid-cols-2">
    <div class="px-4 py-2 font-semibold">{{ 'app.reviews.items.new.cons' | t }}</div>
    <div class="px-4 py-2">{{review.cons}}</div>
  </div>
</div>
