<title>{{ 'app.title' | t }} - {{ 'app.hero.main-sentence' | t | strip_html }}</title>
<meta property="og:title" content="{{ 'app.title' | t }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ context.location.url }}" />
<meta property="og:image" content="{{ 'images/home/hero.jpg' | asset_url }}" />
<meta property="og:locale" content="{{ lang }}" />
<meta property="og:description" content="{{ 'app.hero.main-sentence' | t | strip_html }}" />
<meta name="description" content="{{ 'app.hero.main-sentence' | t | strip_html }}">

