<h1 class="pagetitle"> Venues </h1>

{%liquid graphql read_gql = "venue/read" | fetch: "models"
  assign read_data = read_gql | fetch: "results"
%}

<!-- {{ read_data }} -->
<div class="display_venues">
  {% for data in read_data %}
    {% if context.current_user.id == data.properties.venue_owner_id %}
      <div class="venue_card">
        <table class="card-lg w-full md:w-96">
          <!-- <p>{{ data }}</p><br> -->
          <tr>
            <img class="venue_image" src="https://t3.ftcdn.net/jpg/04/34/72/82/360_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg" alt="no-image">
          </tr>
            {% if data.id != blank %}
              <tr class="bigtitle">
                <td> Id : </td>
                <td> {{ data.id }} </td>
              </tr>
            {% endif %}
            {% if data.properties.venue_name %}
              <tr>
                <td> Venue Name : </td>
                <td> {{ data.properties.venue_name }} </td>
              </tr>
            {% endif %}
            {% if data.properties.venue_address %}
              <tr>
                <td> Venue Address : </td>
                <td> {{ data.properties.venue_address }} </td>
              </tr>
            {% endif %}
            {% if data.properties.venue_contact %}
              <tr>
                <td> Venue Contact : </td>
                <td> {{ data.properties.venue_contact }} </td>
              </tr>
            {% endif %}
            {% if data.properties.venue_services %}
              <tr>
                <td> Venue Services : </td>
                <td> {{ data.properties.venue_services }} </td>
              </tr>
            {% endif %}
            {% if data.properties.venue_menu != blank %}
              <tr>
                <td> Venue Menu : </td>
                <td> {{ data.properties.venue_menu }} </td>
              </tr>
            {% endif %}
            {% if data.properties.venue_features != blank %}      
              <tr>
                <td> Venue Features : </td>
                <td> {{ data.properties.venue_features }} </td>
              </tr>
            {% endif %}
            {% if data.properties.venue_description != blank %}
              <tr>
                <td> Venue Description : </td>
                <td> {{ data.properties.venue_description }} </td>
              </tr>
            {% endif %}
            {% if data.properties.venue_capacity %}
              <tr>
                <td> Venue Capacity : </td>
                <td> {{ data.properties.venue_capacity }} </td>
              </tr>
            {% endif %}
            {% if data.properties.venue_rental_hours %}
              <tr>
                <td> Venue Rental Hours : </td>
                <td> {{ data.properties.venue_rental_hours }} </td>
              </tr>
            {% endif %}
            <tr>
              <!-- <td>
                <a href="/venue/update?id={{ data.id }}" class="button button-small"> Venue Update </a>
              </td> -->
              {% if context.constants.superadmins == context.current_user.email %}
                <td>
                  <a href="/venue/delete?id={{ data.id }}" class="button button-small"> Delete Venue </a>
                </td>
              {% endif %}
              <td>
                <a href="/venue/show_venue?id={{ data.id }}" class="button button-small mt-2"> Show Venue </a>
              </td>
            </tr>
            <!-- <tr>
              {% if context.constants.superadmins == context.current_user.email %}
                <td>
                  <a href="/venue/delete?id={{ data.id }}" class="button button-small"> Delete Venue </a>
                </td>
              {% endif %}
            </tr> -->
        </table>
      </div>
    {% endif %}


    {% if context.constants.superadmins == context.current_user.email %}
    <div class="venue_card">
      <table class="card-lg w-full md:w-96">
        <!-- <p>{{ data }}</p><br> -->
        <tr>
          <img class="venue_image" src="https://t3.ftcdn.net/jpg/04/34/72/82/360_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg" alt="no-image">
        </tr>
          {% if data.id != blank %}
            <tr class="bigtitle">
              <td> Id : </td>
              <td> {{ data.id }} </td>
            </tr>
          {% endif %}
          {% if data.properties.venue_name %}
            <tr>
              <td> Venue Name : </td>
              <td> {{ data.properties.venue_name }} </td>
            </tr>
          {% endif %}
          {% if data.properties.venue_address %}
            <tr>
              <td> Venue Address : </td>
              <td> {{ data.properties.venue_address }} </td>
            </tr>
          {% endif %}
          {% if data.properties.venue_contact %}
            <tr>
              <td> Venue Contact : </td>
              <td> {{ data.properties.venue_contact }} </td>
            </tr>
          {% endif %}
          {% if data.properties.venue_services %}
            <tr>
              <td> Venue Services : </td>
              <td> {{ data.properties.venue_services }} </td>
            </tr>
          {% endif %}
          {% if data.properties.venue_menu != blank %}
            <tr>
              <td> Venue Menu : </td>
              <td> {{ data.properties.venue_menu }} </td>
            </tr>
          {% endif %}
          {% if data.properties.venue_features != blank %}      
            <tr>
              <td> Venue Features : </td>
              <td> {{ data.properties.venue_features }} </td>
            </tr>
          {% endif %}
          {% if data.properties.venue_description != blank %}
            <tr>
              <td> Venue Description : </td>
              <td> {{ data.properties.venue_description }} </td>
            </tr>
          {% endif %}
          {% if data.properties.venue_capacity %}
            <tr>
              <td> Venue Capacity : </td>
              <td> {{ data.properties.venue_capacity }} </td>
            </tr>
          {% endif %}
          {% if data.properties.venue_rental_hours %}
            <tr>
              <td> Venue Rental Hours : </td>
              <td> {{ data.properties.venue_rental_hours }} </td>
            </tr>
          {% endif %}
          <tr>
            <!-- <td>
              <a href="/venue/update?id={{ data.id }}" class="button button-small"> Venue Update </a>
            </td> -->
            {% if context.constants.superadmins == context.current_user.email %}
              <td>
                <a href="/venue/delete?id={{ data.id }}" class="button button-small"> Delete Venue </a>
              </td>
            {% endif %}
            <td>
              <a href="/venue/show_venue?id={{ data.id }}" class="button button-small mt-2"> Show Venue </a>
            </td>
          </tr>
          <!-- <tr>
            {% if context.constants.superadmins == context.current_user.email %}
              <td>
                <a href="/venue/delete?id={{ data.id }}" class="button button-small"> Delete Venue </a>
              </td>
            {% endif %}
          </tr> -->
      </table>
    </div>
    {% endif %}


  {% endfor %}
</div>


<div class="custom-google-map" style="display: none;">
  <iframe
    width="600"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/view
    ?key=AIzaSyAHudkg_ODcgACqYD3brjn48uYt4Os0pDg
    &center=-33.8569,151.2152
    &zoom=18
    &maptype=satellite">
  </iframe>
  <!-- <iframe
    width="600"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAHudkg_ODcgACqYD3brjn48uYt4Os0pDg&center=-33.8569,151.2152&zoom=18&maptype=satellite">
  </iframe> -->
  <div id="googleMap" style="width:100%;height:400px;"></div>
</div>


<style>
</style>

<!-- {{ context }} -->