<header class="mb-6 -mx-8 px-8 pb-7 flex justify-between gap-8 border-b">
  <h2 class="title flex items-center gap-4">
    {% render 'theme/simple/ui/icon', icon: 'shoppingCart', class: 'w-6 relative top-0.5 text-content-sidenote' %}
    {{ 'app.items.edit' | t }} - {{ object.item_detail.name }}
  </h2>
</header>

<form action="/admin/items/{{object.id}}" method="post">
  {% render 'authenticity_token', context: context %}
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="item[id]" value="{{ object.id }}">

  <div class="flex flex-wrap items-center mx-auto">
    <div class="mt-5">
      {{ 'app.admin.items.edit.promote' | t }}:
      <fieldset>
        <input type="hidden" name="item[promoted]" value="false">
        <input type="checkbox" id="promoted" name="item[promoted]" value="promoted"
          {% if object.promoted %}checked{% endif %}
        >
        <label for="promoted">{{ 'app.admin.items.edit.promoted' | t }}</label>

        {% render 'theme/simple/field_error', errors: object.errors.promoted %}
      </fieldset>
    </div>
  </div>

  <fieldset class="mt-6">
    <button class="button" value="{{ path }}">
      {{ 'app.items.form.submit' | t }}
    </button>
  </fieldset>
</form>
